In [1]:
##Operations in pandas - Indexing and Selecting
#Basic Indexing

import pandas as pd
crudeoil_data={'France' : {'2015-Q1':100.1, '2015-Q2':104.0, '2015-Q3':112.5, '2015-Q4':108.4},
                'Germany':{'2015-Q1':115.3,'2015-Q2':103.2, '2015-Q3':106.1,'2015-Q4':120.4},
                'Belgium':{'2015-Q1':92.5, '2015-Q2':98.4, '2015-Q3':94.5,'2015-Q4':91.2}}

In [2]:
crudeoil_df = pd.DataFrame.from_dict(crudeoil_data)
crudeoil_df

         Belgium  France  Germany
2015-Q1     92.5   100.1    115.3
2015-Q2     98.4   104.0    103.2
2015-Q3     94.5   112.5    106.1
2015-Q4     91.2   108.4    120.4

In [3]:
type(crudeoil_df)

pandas.core.frame.DataFrame

In [4]:
##Selection
##Prices for available time periods of France crude oil
op_france=crudeoil_df['France']
op_france

2015-Q1    100.1
2015-Q2    104.0
2015-Q3    112.5
2015-Q4    108.4
Name: France, dtype: float64

In [5]:
#Ordering of columns during selection

crudeoil_df[['Germany','France','Belgium']]

         Germany  France  Belgium
2015-Q1    115.3   100.1     92.5
2015-Q2    103.2   104.0     98.4
2015-Q3    106.1   112.5     94.5
2015-Q4    120.4   108.4     91.2

In [6]:
op_france['2015-Q2']

104.0

In [7]:
type(op_france)

pandas.core.series.Series

In [8]:
##Using dot operator

crudeoil_df.France

2015-Q1    100.1
2015-Q2    104.0
2015-Q3    112.5
2015-Q4    108.4
Name: France, dtype: float64

In [ ]:
##Using Range
##Get first two rows
##x[startindex: endindex: stepvalue]
crudeoil_df[:3]

In [ ]:
##Get rows starting from index 3

crudeoil_df[3:]

In [ ]:
##Reverse the rows

crudeoil_df[::-1]

In [9]:
##For series

op_germany = crudeoil_df['Germany']
op_germany

2015-Q1    115.3
2015-Q2    103.2
2015-Q3    106.1
2015-Q4    120.4
Name: Germany, dtype: float64

In [ ]:
type(op)