In [2]:
import pandas as pd
import numpy as np

In [2]:
#Series creation
##series=pd.Series(data,index = idx)

In [5]:
#Creating series using numpy array
import numpy as np
np.random.seed(20)
s=pd.Series(np.random.rand(4), index=[21,22,23,24])
s

21    0.588131
22    0.897714
23    0.891531
24    0.815837
dtype: float64

In [6]:
s.index

Int64Index([21, 22, 23, 24], dtype='int64')

In [7]:
import calendar as cal
name_of_month = [cal.month_name[i] for i in np.arange(6,12)]    #month_of_year.index
month_of_year = pd.Series(np.arange(6,12), index=name_of_month)
month_of_year

June          6
July          7
August        8
September     9
October      10
November     11
dtype: int32

In [9]:
month_of_year.index

Index(['June', 'July', 'August', 'September', 'October', 'November'], dtype='object')

In [13]:
#Creating a series from a dictionary

dict1 = {'France':'Euro','India':'Rupee','Japan':'Yen','UK':'Pound'}
series2 = pd.Series(dict1)  #series2.index
series2

France     Euro
India     Rupee
Japan       Yen
UK        Pound
dtype: object

In [ ]:
dict1 = {'France':'Euro','India':'Rupee','Japan':'Yen','UK':'Pound'}
series2 = pd.Series(dict1)  #series2.index
series2

In [14]:
series2.index

Index(['France', 'India', 'Japan', 'UK'], dtype='object')

In [10]:
#creating series using scalar value

orchids = pd.Series('Dendrobuim', index = ['name','species_name','country','1'])
orchids

name            Dendrobuim
species_name    Dendrobuim
country         Dendrobuim
1               Dendrobuim
dtype: object

# Pandas 22_Feb

In [4]:
#creating a series 

dict1 = {"Google": 450, "Amazon": 1200, "Yes Bank": 6004, "Flipkart": 1099, "Jabong": 892}
series1 = pd.Series(dict1)
series1

Google       450
Amazon      1200
Yes Bank    6004
Flipkart    1099
Jabong       892
dtype: int64

In [5]:
series1.index

Index(['Google', 'Amazon', 'Yes Bank', 'Flipkart', 'Jabong'], dtype='object')

In [6]:
series1.index.sort_values()

Index(['Amazon', 'Flipkart', 'Google', 'Jabong', 'Yes Bank'], dtype='object')

In [7]:
ex1={'b':33,'D':53,'a':23,'c':43}
series2 = pd.Series(ex1)
series2

b    33
D    53
a    23
c    43
dtype: int64

In [8]:
ex1={'b':33,'D':53,'a':23,'c':43}
series2 = pd.Series(ex1)
series2

b    33
D    53
a    23
c    43
dtype: int64

In [ ]:
ex1={}