##### pandas

In [4]:
import pandas as pd
import numpy as np

In [3]:
x = pd.Series([1,2,3,4],index=["arpan","karthik","hello","pandas"])
x

arpan      1
karthik    2
hello      3
pandas     4
dtype: int64

In [5]:
np.random.seed(20)
s = pd.Series(np.random.rand(4))
s

0    0.588131
1    0.897714
2    0.891531
3    0.815837
dtype: float64

In [6]:
s.index

RangeIndex(start=0, stop=4, step=1)

In [7]:
x["karthik"]

2

In [14]:
import calendar as cal
name_of_month = [cal.month_name[i] for i in np.arange(1,12)]
month_of_year = pd.Series(np.arange(1,12), index=name_of_month)
month_of_year

January       1
February      2
March         3
April         4
May           5
June          6
July          7
August        8
September     9
October      10
November     11
dtype: int32

In [24]:
##using a dictionary
dict1 = {"France":"Euro","India":"Rupee","Japan":"Yen", "UK":"Pound"}
x = pd.Series(dict1)
x

France     Euro
India     Rupee
Japan       Yen
UK        Pound
dtype: object

In [22]:
x.index

Index(['France', 'India', 'Japan', 'UK'], dtype='object')

In [25]:
orchid = pd.Series("florida", index=["name","species_name","country"])
orchid

name            florida
species_name    florida
country         florida
dtype: object