In [ ]:
##Datastructures in Pandas
#Series

import pandas as pd  
ser=pd.Series(data, index=idx) 

#data - ndarray, dictionary, scalar value

In [6]:
#Using ndarray

import numpy as np
import pandas as pd  
np.random.seed(20)
s=pd.Series(np.random.rand(4))
s

0    0.588131
1    0.897714
2    0.891531
3    0.815837
dtype: float64

In [2]:
import numpy as np
x = np.array([1,2,3,4])
x

array([1, 2, 3, 4])

In [4]:

import pandas as pd
s1 = pd.Series(x)
s1

0    1
1    2
2    3
3    4
dtype: int32

In [7]:
s.index

RangeIndex(start=0, stop=4, step=1)

In [8]:
import calendar as cal
name_of_month=[cal.month_name[i] for i in np.arange(6,12)]
months_of_year=pd.Series(np.arange(6,12),index=name_of_month)
months_of_year

June          6
July          7
August        8
September     9
October      10
November     11
dtype: int32

In [9]:
months_of_year.index

Index(['June', 'July', 'August', 'September', 'October', 'November'], dtype='object')

In [10]:
##Using Dictionary

Dict_ex={'France' : 'euro', 'India' : 'Rupee', 
                    'Japan': 'yen', 'US':'dollar',
                    'UK':'pound',
                    'Germany':'euro', 'Australia':'australian dollar'}
series_1 = pd.Series(Dict_ex)
series_1

Australia    australian dollar
France                    euro
Germany                   euro
India                    Rupee
Japan                      yen
UK                       pound
US                      dollar
dtype: object

In [5]:
stock_price = {'INFOSYS':660.45,'TCS':1929.50,'WIPRO': 328.80, 'SBI':288.10, 'HDFC': 1939.90}

series_2 = pd.Series(stock_price,name='stock_price')
series_2

INFOSYS     660.45
TCS        1929.50
WIPRO       328.80
SBI         288.10
HDFC       1939.90
Name: stock_price, dtype: float64

In [12]:
##Using scalar values

orchids=pd.Series('Dendrobium', index=['name','species_name','country'])
orchids

name            Dendrobium
species_name    Dendrobium
country         Dendrobium
dtype: object

In [13]:
#If we don't specify an index,results in a scalar value being returned

orchids_1=pd.Series('Dendrobium')
orchids_1

0    Dendrobium
dtype: object

In [14]:
##Operations on Series
##Assignment

stock_price['INFOSYS']

660.45

In [15]:
stock_price['INFOSYS'] = 1000
stock_price

{'HDFC': 1939.9, 'INFOSYS': 1000, 'SBI': 288.1, 'TCS': 1929.5, 'WIPRO': 328.8}

In [16]:
##Retrieving using a key which is not present in the dict, will throw a key error

stock_price['CAPGEMINI']

KeyError: 'CAPGEMINI'

In [17]:
##SLICING

series_2[:3]

INFOSYS     660.45
TCS        1929.50
WIPRO       328.80
Name: stock_price, dtype: float64

In [6]:
series_2 > 1000

INFOSYS    False
TCS         True
WIPRO      False
SBI        False
HDFC        True
Name: stock_price, dtype: bool

In [18]:
##Logical sliciing

series_2[series_2 > 1000]

TCS     1929.5
HDFC    1939.9
Name: stock_price, dtype: float64

In [7]:
##OTHER OPERATIONS

np.mean(series_2)

1029.35

In [8]:
np.std(series_2)

750.423933520247

In [19]:
##Element- wise operations on series

series_4 = s * s
series_4

0    0.345898
1    0.805890
2    0.794827
3    0.665591
dtype: float64

In [20]:
s

0    0.588131
1    0.897714
2    0.891531
3    0.815837
dtype: float64

In [21]:
np.sqrt(s)

0    0.766897
1    0.947478
2    0.944209
3    0.903237
dtype: float64

In [22]:
#select rows starting from index 1 to last
s[1:]

1    0.897714
2    0.891531
3    0.815837
dtype: float64

In [23]:
#Select all rows except last row
s[:-1]

0    0.588131
1    0.897714
2    0.891531
dtype: float64

In [24]:
series_5 = s[1:] + s[:-1]
series_5

0         NaN
1    1.795427
2    1.783061
3         NaN
dtype: float64