<a href="https://colab.research.google.com/github/iftikaraliahmed/python/blob/main/untitled.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import time
print(time.ctime())

Tue Oct 18 11:54:22 2022

In [2]:
print("hello world")

hello world

This is **bold**.
This is *italic*.
This is ~strikethrough~.

$\sqrt{3x-1}+(1+x)^2$

$e^x = \sum_{i = 0}^\infty \frac{1}{i!}x^i$

In [3]:
x=10
print(x)
type(x)

10

int

In [4]:
y=3.4
type(y)

float

In [5]:
id(x)

11126976

In [6]:
id(y)

140298597284976

In [7]:
print(id(x))
print(id(y))

11126976
140298597284976

In [8]:
x="'hello'"
print(x)
type(x)

'hello'

str

In [9]:
p=True
p

True

In [10]:
type(p)

bool

In [11]:
a=5
b=3
R=5 %3
print(R)

2

In [12]:
a=4
b=10
x=a+b
y=a-b
z=a*b
w=a/b
F=a//b
v=b%a
t=a**b
print(x,y,z,w,F,v,t)

14 -6 40 0.4 0 2 1048576

In [13]:
x and y

-6

In [14]:
x>y

True

In [15]:
a>b and c<b

False

In [16]:
b<a

False

In [17]:
m=x>y
n=F==w
o=b<a

m and n

False

In [18]:
print(m and o)
print(not o)

False
True

In [19]:
print(a>b)
print(a>b and R<b)

False
False

In [20]:
a=10
b=5
c=-8
a>b and c<b

True

In [21]:
x="32"
y="45"
print(x+y)

3245

In [22]:
x=input()

10

In [23]:
print(x)

10

In [24]:
type(x)

str

In [25]:
x=input()

Hello

In [26]:
type(x)

str

In [27]:
z=int(input('Enter a number'))

Enter a number12

In [28]:
type(z)

int

In [29]:
print(z)

12

In [30]:
y=float(input('Enter a number'))

Enter a number13.24

In [31]:
print(y)

13.24

In [32]:
print(type(z))
print(type(y))

<class 'int'>
<class 'float'>

In [33]:
#example of simple if-statement
x=50
if x<40:
    print ("fail")
    print ("task is over")

In [34]:
x=50
y=60
if x>=50 and x<60:
    print ('pass')

pass

In [35]:
#example of simple if-else statement to find odd/even
x=int(input('Enter A Number'))
if x%2==0:
    print ('Number is Even')
else:
    print ('Number is Odd')

Enter A Number568
Number is Even

In [36]:
#example of simple if-statement
x=100
if x<690:
    print('number is less than 100')
    x+=5
print(x)

number is less than 100
105

In [37]:
#illustration of else-if
x=int(input('Enter marks'))
if x>=40:
    print ('pass')
else:
    print ('Fail')

Enter marks69
pass

In [38]:
#example to check whether the number is a prime number
x=int(input("Enter a number: "))
k=0
for i in range(2,x//2+1):
    if(x%i==0):
        k=k+1;
    if(k<=0): 
        print ("Number is prime")
    else:
        print ("Number isn't prime")

Enter a number: 5
Number is prime

In [39]:
#Illustration of elif
x=int(input('Enter the marks: '))
if x>=75:
    print('Distinction')
elif x>=60:
    print('First Class')
elif x>=50:
    print('Second Class')
elif x>=40:
    print('pass')
else: 
    print('fail')

Enter the marks: 68
First Class

In [40]:
#Program to Prompt User for thier name and then welcome them

x=str(input("Enter Your Name "))
print("Hello ",x)

Enter Your Name Iftikar
Hello  Iftikar

In [41]:
#Program to prompt rate per hour and no of hours to compute gross pay
x=float(input("Enter Hours: "))
y=float(input("Enter Rate: "))
z=round(x*y)
print("Pay=",z)

Enter Hours: 9
Enter Rate: 100
Pay= 900

In [42]:
#Program to execute the following assignment
w=17
h=12
a=w//2
b=w/2.0
c=h/3
d=4.1+2*5
print(a,b,c,d)

8 8.5 4.0 14.1

In [43]:
# Python Program to convert temperature in celsius to fahrenheit

# change this value for a different result
celsius = float(input("Enter the temperature in Celsius"))

# calculate fahrenheit
fahrenheit = (celsius * 1.8) + 32
print('%0.1f degree Celsius is equal to %0.1f degree Fahrenheit' %(celsius,fahrenheit))

Enter the temperature in Celsius37
37.0 degree Celsius is equal to 98.6 degree Fahrenheit

In [44]:
x=max(10,23,-8,4)
print(x)

23

In [45]:
int("hello")   #hello is a string input

ValueError: ignored

In [46]:
int('20')

20

In [47]:
float('3.5')

3.5

In [48]:
float(42)

42.0

In [49]:
str('4.5')

'4.5'

In [50]:
str(21)

'21'

In [51]:
str(4.5)

'4.5'

In [52]:
int (3.8)

3

In [ ]:
int (-5.6)

In [53]:
import math
x=math.sqrt(400)
print (x)

20.0

In [54]:
import math as M

r=float(input("Enter the radius"))
area=M.pi*M.pow(r,2)
print('Area of circle is :',area)

Enter the radius3.2
Area of circle is : 32.169908772759484

In [55]:
#Two parameters in the print function: sep and end
 
print("The radius is" ,r,"and the area of the circle is ",area,"cm")

The radius is 3.2 and the area of the circle is  32.169908772759484 cm

In [56]:
print ("Hello") #by default the end parameter as shown in the below example is \n hence its prints the next line
print ("World")

Hello
World

In [57]:
print ("Hello", end=' ') #here we have changed the end parameter to single white space
print ("World")

Hello World

In [58]:
a=5/3
print("Value of a is: {0:.2f}".format(a)) #here we have printed only 2 values after decimal

Value of a is: 1.67

In [59]:
a=5/3
b=4/7
print ('Value of a is {0:0.4f} and Value of b is {1:0.2f}'.format(a,b)) #here we have printed different values after decimal for a and b

Value of a is 1.6667 and Value of b is 0.57

In [60]:
print ('Value of a is {0:8.4f} and Value of b is {1:12.2f}'.format(a,b))

Value of a is   1.6667 and Value of b is         0.57

In [61]:
a=5/7
b=7/9
print ('Value of a is {0:8.4f} and Value of b is {1:12.2f}'.format(a,b))
#here we have printed different values after decimal for a and b

Value of a is   0.7143 and Value of b is         0.78

In [62]:
print ("The radius is" ,r,"and the area of the circle is" ,area,"cm", sep='--')

The radius is--3.2--and the area of the circle is--32.169908772759484--cm

In [63]:
#using \n as the separator, after each argument new line will be inserted

print ("The radius is " ,r,"and the area of the circle is" ,area, "cm", sep='\n')

The radius is
3.2
and the area of the circle is
32.169908772759484
cm

In [64]:
for a in range(3):
         a=a+5
print(a)

7

In [65]:
for a in range(3):
        a=range(3)+5
print(a)

TypeError: ignored

In [66]:
for i in range(2):
    for j in range(3):
                    i=i+j
            
print(i)

4

In [67]:
import functools
functools.reduce(lambda x,y:x+y,range(1,5))

x=lambda a,b: a*b
print(x(10,20))
print(x(4,-5))
print(x(-2,-9))

200
-20
18

In [68]:
def second(b):        
    return(b**2)  
def first(a):       
    a=a+1       
    return(second(a))  
list1= [4,1,2,5,8]  
list(map(first,list1))

[25, 4, 9, 36, 81]

In [69]:
#Program to find the first appearance of the substring 'not' and 'poor' from a given string. 
x=(input("\nEnter the string\n"))

a=x.find('not')
b=x.find('poor')

print("the position of not is" ,a)
print("the position of poor is " ,b)

if (b>a):
    c=x[0:a]+'good'+x[b+4:]
    print(c)
else:
    print(x)

Enter the string
This poor man has not eaten properly
the position of not is 18
the position of poor is  5
This poor man has not eaten properly

In [70]:
#If given string already ends with 'ing' then add 'ly' instead. if the string length of the given string is less than 3, leave it unchanged


x=(input("\nEnter the string\n"))

if(len(x)>=4):
    if(x.endswith('ing')):
        x1=x+'ly'
    else:
        x1=x+'ing'
    print(x1)
else:
    
    print(x)

Enter the string
fuck
fucking

In [71]:
s=input("Enter a string:") #read a string
d=dict() #create empty dictionary
for ch in s: #traverse through string
    if ch not in d: #if new character found
            d[ch]=1 #initialize counter to 1
else: #otherwise, increment counter
    d[ch]+=1
print(d) #display the dictionary

Enter a string:chandrarpur
{'c': 1, 'h': 1, 'a': 1, 'n': 1, 'd': 1, 'r': 2, 'p': 1, 'u': 1}

In [72]:
functools.reduce(lambda x,y:x+y,range(1,5))

10

In [73]:
from functools import reduce
ls = [5, 8, 10, 20, 50, 100] 
sum = reduce((lambda x, y: x + y), ls) 
print (sum)

193

In [74]:
marks=float(input("Enter marks:")) #nested loop
if marks>=60:
    if marks<70:
        print("First Class")
else:
    print("Distinction")

Enter marks:68
First Class

In [75]:
d={'Tom': 9291, 'Jerry': 3501, 'Donald': 8913}
ls=list()
for key, val in d.items():
        ls.append((val,key))
        print("List of tuples:",ls)
    
ls.sort(reverse=True)    
print("List of sorted tuples:",ls)

List of tuples: [(9291, 'Tom')]
List of tuples: [(9291, 'Tom'), (3501, 'Jerry')]
List of tuples: [(9291, 'Tom'), (3501, 'Jerry'), (8913, 'Donald')]
List of sorted tuples: [(9291, 'Tom'), (8913, 'Donald'), (3501, 'Jerry')]

In [76]:
import pandas as pd
names=(('Tom','Cat'),('Jerry','Mouse'), ('Donald', 'Duck'))
number=[3561, 4014, 9813]
telDir={}
for i in range(len(number)):
    telDir[names[i]]=number[i]
    
for f, l in telDir:
        print(f, l, telDir[f,l])

Tom Cat 3561
Jerry Mouse 4014
Donald Duck 9813

In [77]:
x = pd.DataFrame({'A':[1,2,3,4],'B':[7,4,3,2]})
x

   A  B
0  1  7
1  2  4
2  3  3
3  4  2

In [78]:
x.rename('A':'Akshay','B':'Karthick')
x

SyntaxError: ignored

In [79]:
print(x.A.median())
print(x.A.sum())
print(x.A.max())
print(x.A.mean())
print(x.A.std())
print(x.A.var())

2.5
10
4
2.5
1.2909944487358056
1.6666666666666667

In [80]:
import numpy as np
x.loc[0]=np.NaN
x

     A    B
0  NaN  NaN
1  2.0  4.0
2  3.0  3.0
3  4.0  2.0

In [81]:
x.notnull().sum()/len(x)*100

A    75.0
B    75.0
dtype: float64

In [82]:
x.loc['0']=['8','9']
x

     A    B
0  NaN  NaN
1  2.0  4.0
2  3.0  3.0
3  4.0  2.0
0    8    9

In [83]:
x.loc[5]=['11','12']
x

     A    B
0  NaN  NaN
1  2.0  4.0
2  3.0  3.0
3  4.0  2.0
0    8    9
5   11   12

In [84]:
x['C']=['24','6','3','8','10','13']
x

     A    B   C
0  NaN  NaN  24
1  2.0  4.0   6
2  3.0  3.0   3
3  4.0  2.0   8
0    8    9  10
5   11   12  13

In [85]:
list=["karnataka","tamilnadu","kerela"]
for i in list:
    a=i.title()
    print(a)

Karnataka
Tamilnadu
Kerela

In [86]:
count=0
for i in list:
    count+=len(i)
    print(count)

9
18
24

In [87]:
for z in list:
    if z.startswith("k"):
        print(z)

karnataka
kerela

In [88]:
for a in list:
    c=a[::-1]
    print(c)

akatanrak
udanlimat
alerek

In [89]:
s[-1]

'r'

In [90]:
s='akshay'
s[0]

'a'

In [91]:
#reverse
#sha
#ya
#y

print(s[2:5])
print(s[-2:])
print(s[2:4])

sha
ay
sh

In [92]:
s[-2:]

'ay'

In [93]:
s[:-3:-1]

'ya'

In [94]:
s1=s[::-1]

In [95]:
s1

'yahska'

In [96]:
s1[:2]

'ya'

In [97]:
s[0:6]

'akshay'

In [98]:
list=["akshay",'python']
for i in list:
    i.title()
    print(i[0].capitalize())

A
P

In [99]:
#creating a data frame from a series
st1 = {'INFY':567.12,'TCS':345.34,'Wipro': 564.45, 'HCL':45.15,'L&T':678.00}
ser2 = pd.Series(st1, index = ['Wipro','TCS','HCL','L&T','INFY'])
ser2

Wipro    564.45
TCS      345.34
HCL       45.15
L&T      678.00
INFY     567.12
dtype: float64

In [100]:
df6 = pd.DataFrame(ser2)
df6

            0
Wipro  564.45
TCS    345.34
HCL     45.15
L&T    678.00
INFY   567.12

In [101]:
st1 = {'INFY':700.90,'TCS':600.99,'Wipro': 500.64, 'HCL':400.33,'L&T':678.00}
ser5 = pd.Series(st1, index = ['Wipro','TCS','HCL','L&T','INFY'])
ser5

Wipro    500.64
TCS      600.99
HCL      400.33
L&T      678.00
INFY     700.90
dtype: float64

In [102]:
df6=pd.DataFrame(ser2+ser5)
df6

             0
Wipro  1065.09
TCS     946.33
HCL     445.48
L&T    1356.00
INFY   1268.02

In [103]:
ser_fin = pd.concat([ser2,ser5], axis=1) #axis it concatenated rowwise
ser_fin

            0       1
Wipro  564.45  500.64
TCS    345.34  600.99
HCL     45.15  400.33
L&T    678.00  678.00
INFY   567.12  700.90

In [104]:
df7=pd.DataFrame(ser_fin)
df7

            0       1
Wipro  564.45  500.64
TCS    345.34  600.99
HCL     45.15  400.33
L&T    678.00  678.00
INFY   567.12  700.90

In [105]:
df7.columns=['day1','day2']
df7

         day1    day2
Wipro  564.45  500.64
TCS    345.34  600.99
HCL     45.15  400.33
L&T    678.00  678.00
INFY   567.12  700.90

In [106]:
##label-oriented indexing

snow_data = {'Months': ['January','February','March','April','May','June'],
            'Avg low temp': [26,34,25,45,23,21],
            'Avg precip' : [17.8,12.3,11.7,34.0,12.3,11.5],
             'Avg snowdays' : [3.0,6.0,5.0,2.0,3.3,4.5]}
snow_df = pd.DataFrame(snow_data, index = snow_data['Months'], columns = ['Avg low temp','Avg precip','Avg snowdays'])
snow_df

          Avg low temp  Avg precip  Avg snowdays
January             26        17.8           3.0
February            34        12.3           6.0
March               25        11.7           5.0
April               45        34.0           2.0
May                 23        12.3           3.3
June                21        11.5           4.5

In [107]:
snow_df.loc[['January']]

         Avg low temp  Avg precip  Avg snowdays
January            26        17.8           3.0

In [108]:
#Basic indexing syntax
snow_df.loc[:,'Avg low temp']

January     26
February    34
March       25
April       45
May         23
June        21
Name: Avg low temp, dtype: int64

In [109]:
snow_df.iloc[:2]

          Avg low temp  Avg precip  Avg snowdays
January             26        17.8           3.0
February            34        12.3           6.0

In [110]:
snow_df.iloc[2:5]

       Avg low temp  Avg precip  Avg snowdays
March            25        11.7           5.0
April            45        34.0           2.0
May              23        12.3           3.3

In [111]:
snow_df['Avg low temp']['March'] #without .loc, the col will be first then the row

25

In [112]:
snow_df.loc['March']['Avg low temp'] #the row will be first then the column, we are accessing the column

25.0

In [113]:
house = pd.DataFrame({"House":["Stark","Targaryen","Lannister","Baratheon","Tyrell"],
                      "Region":["The North","Slaver’s Bay","The Westerlands","The Stormlands","The Reach"]})

house_extra = pd.DataFrame({"House":["Tully","Greyjoy"],"Region":["The Riverlands","The Iron Islands"]})

In [114]:
house

       House           Region
0      Stark        The North
1  Targaryen     Slaver’s Bay
2  Lannister  The Westerlands
3  Baratheon   The Stormlands
4     Tyrell        The Reach

In [115]:
house_extra

     House            Region
0    Tully    The Riverlands
1  Greyjoy  The Iron Islands

##### Task: To include the houses in house_extra in the data set house (i.e merging the two data sets)

In [116]:
#row wise addition does vertical addition of new rows

house = house.append(house_extra)

house

       House            Region
0      Stark         The North
1  Targaryen      Slaver’s Bay
2  Lannister   The Westerlands
3  Baratheon    The Stormlands
4     Tyrell         The Reach
0      Tully    The Riverlands
1    Greyjoy  The Iron Islands

In [117]:
#axis=0 can also add new rows to data set

house = pd.concat([house,house_extra], axis = 0)
house

       House            Region
0      Stark         The North
1  Targaryen      Slaver’s Bay
2  Lannister   The Westerlands
3  Baratheon    The Stormlands
4     Tyrell         The Reach
0      Tully    The Riverlands
1    Greyjoy  The Iron Islands
0      Tully    The Riverlands
1    Greyjoy  The Iron Islands

In [118]:
#simple example of user-defined function

def myfun():                             #function defintion
    print ('Inside function')
    print ('Function over')
    
    
print('Example of simple function')
myfun()                                  #function call
print('Example over')

Example of simple function
Inside function
Function over
Example over

In [119]:
type(myfun)

function

In [120]:
print(myfun)

<function myfun at 0x7f99c6416320>

In [121]:
def test(var):
    print("Inside test()")
    print("Argument is ",var)
    
print("Example of function with arguments")
x="hello"
test(x)      #call test() with x as argument
y=20
test(y)
print("End")

Example of function with arguments
Inside test()
Argument is  hello
Inside test()
Argument is  20
End

In [122]:
def test(var):
    print("Inside test()")
    print("Argument is ",var)
    print("Type of argument is:", type(var), end='\n\n')
    
print("Example of function with arguments")
x="hello"
test(x)
y=20
test(y)
print("End")

Example of function with arguments
Inside test()
Argument is  hello
Type of argument is: <class 'str'>

Inside test()
Argument is  20
Type of argument is: <class 'int'>

End

In [123]:
def test(a, b):
    print("Inside test()")
    print("Argument1 is: ", a, "Type is ", type(a))
    print("Argument2 is: ", b, "Type is", type(b))
    
    
    
print("Example of function with two arguments", end='\n\n')
test(10,20)
test(5,3.4)
test(3.5,'hello')
test(-3, 'hi')
test(0, True)
test(False,'world')

print("End")

Example of function with two arguments

Inside test()
Argument1 is:  10 Type is  <class 'int'>
Argument2 is:  20 Type is <class 'int'>
Inside test()
Argument1 is:  5 Type is  <class 'int'>
Argument2 is:  3.4 Type is <class 'float'>
Inside test()
Argument1 is:  3.5 Type is  <class 'float'>
Argument2 is:  hello Type is <class 'str'>
Inside test()
Argument1 is:  -3 Type is  <class 'int'>
Argument2 is:  hi Type is <class 'str'>
Inside test()
Argument1 is:  0 Type is  <class 'int'>
Argument2 is:  True Type is <class 'bool'>
Inside test()
Argument1 is:  False Type is  <class 'bool'>
Argument2 is:  world Type is <class 'str'>
End

In [124]:
#Read two numbers as input, write a function to find sum and return the sum
print("Demonst. of Function call and return", end='\n\n')
x=int(input("Enter the first number"))
y=int(input("Enter the second number"))
print
def mysum(x,y):
    z=x+y
    return z

print('The sum of two numbers is', mysum(x,y))

Demonst. of Function call and return

Enter the first number180
Enter the second number4502
The sum of two numbers is 4682

In [125]:
print("Demonst. of Function call and return", end='\n\n')
x=int(input("Enter the first number"))
y=int(input("Enter the second number"))

def mysum(z):
    z=x+y
    return z

print('The sum of two numbers is', mysum(z))

Demonst. of Function call and return

Enter the first number69
Enter the second number31
The sum of two numbers is 100

In [126]:
#Multiplying arguments
def test(var):
    print("Inside test()")
    print("Argument is ",var)
    
print("Example of function with arguments")
x="hello"
test(x*3)
y=20
test=(y*3)
print("End")

Example of function with arguments
Inside test()
Argument is  hellohellohello
End

In [127]:
#example of for-loop

for i in range(0,10):
    print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [128]:
for i in range(0,10,2):
    print(i,end=' ')
    print('\n')

for i in range(10,0,-2):
     print(i,end=' ')
print('\n')    

for i in range(0,10,1):
    print(pow(i,2),end=' ')
print('\n')

0

2

4

6

8

10 8 6 4 2

0 1 4 9 16 25 36 49 64 81

In [129]:
#example of while loop

x=0
while x<10:
    print(x, end=' ')
    x=x+1

0 1 2 3 4 5 6 7 8 9

In [130]:
word1='Hello'
word2='hi'

x=word1[1]
print(x)    #prints e

y=word2[0]
print(y)   #if you want to print the last statement,you need not give print function

e
h

In [131]:
s1 = 'Hello'
s2 = 'Hi'

print(s1[1])
print(s2[0])
print(s1<s2)
print(s1==s2)

e
H
True
False

In [132]:
s1 = 'Hello'
s2 = 'Hi'
s3 = 'Nomoskar'
print(s1[1])
print(s2[0])
print(s1<s2)
print(s1==s2)
print(s1<s3)
print(s1==s3)

e
H
True
False
True
False

In [133]:
word1='Hello'
word2='hi'
word3='Nomoskar'
x=word1[3]
print(x)

y=word2[0]
print(y)

#Example of negative 

z1=word3[-1]
z2=word3[-2]
z3=word3[-3]
z4=word3[-4]
z5=word3[-5]

print(word1<word2)
print(max(word2,word3))

print("\nNegative indexing\n")
print(word3,": " ,end=' ')
print(z1,z2,z3,z4,z5,end=' ')
print("\n")

#Using looping statement to extract the characters in string

a='Iftikar'
b='Ahmed'
c='Hallo Worlld'

for i in a:
    print (i, end=' ')
for i in c:
     if i == ' ':
        break
        
print(i, end=' ')

l
h
True
hi

Negative indexing

Nomoskar :  r a k s o

I f t i k a r

In [134]:
#Negative indexing

s1='Namaste'
print(s1[-4])

a

In [135]:
#using loop to print all characters of a string

s1= 'Hello World'
for i in s1:
    print(i, end=' ')

H e l l o   W o r l d

In [136]:
#Using looping statement to extract the characters in string

a='Iftikar'

for i in a:
    print (i,end=' ')

    print('\n')

for i in a:       #printing unless space is encountered
     if i == ' ':
        break
        
        
        print(i,end=" ")

I

f

t

i

k

a

r

In [137]:
'''Segment or a portion of a string is called as slice. Only required number of characters can be extracted using colon(:)'''

#Examples

a="Chennai Express"

print("st[0:5] is :,",a[0:5])
print("st[:4] is :,",a[:4])
print("st[3:8] is :,",a[3:8])
print("st[7:] is :,",a[7:])
print("st[4:4] is :,",a[4:4])
print("st[:] is :,",a[:])

st[0:5] is :, Chenn
st[:4] is :, Chen
st[3:8] is :, nnai
st[7:] is :,  Express
st[4:4] is :,
st[:] is :, Chennai Express

In [138]:
a="Hello World"

print("st[0:5] is :,",a[0:5])
print("st[:4] is :,",a[:4])
print("st[3:8] is :,",a[3:8])
print("st[7:] is :,",a[7:])
print("st[4:4] is :,",a[4:4])
print("st[:] is :,",a[:])

st[0:5] is :, Hello
st[:4] is :, Hell
st[3:8] is :, lo Wo
st[7:] is :, orld
st[4:4] is :,
st[:] is :, Hello World

In [139]:
#Problem to understand string slicing
a="Hello World"

print("st[0:5:1] is :,",a[0:5:1])
print("st[::2] is :,",a[::2])
print("st[3:8:2] is :,",a[3:8:2])
print("st[1:8:3] is :,",a[1:8:3])
print("st[-4:-1] is :,",a[-4:-1])
print("st[-1:] is :,",a[-1:])
print("st[:-1] is :,",a[:-1])
print("st[::] is :,",a[::])
print("st[::-1] is :,",a[::-1]) #reverse of a string
print("st[::-2] is :,",a[::-2])

st[0:5:1] is :, Hello
st[::2] is :, HloWrd
st[3:8:2] is :, l o
st[1:8:3] is :, eoo
st[-4:-1] is :, orl
st[-1:] is :, d
st[:-1] is :, Hello Worl
st[::] is :, Hello World
st[::-1] is :, dlroW olleH
st[::-2] is :, drWolH

In [140]:
st='Hello'
st[1]='x' #strings are immutable meaning once a variable is stored the memory cannot be over written

TypeError: ignored

In [141]:
#Program to change the characters in a string

st="Hello"
st1=st[0]+'x'+st[2:] #replaces e with x
print (st1)

Hxllo

In [142]:
'''Exercise: Write a program to read a string and a character. Write a UDF to count the 
occurence of the character in a string and returns the count'''

x=(input("Enter A Character"))
y=(input("Enter a String"))


def countchar(x,y):
    z=0            #z is acting as count, has to be declared inside the function
    for i in y:
        if i==x:
                z+=1
    return z

a=countchar(x,y)
print("{0} has occured {2} times in {1} ".format(x,y,a))

Enter A Characterr
Enter a Stringraftaar
r has occured 2 times in raftaar

In [143]:
def countchar(st,ch):
    count=0
    for i in st:
        if i==ch:
            count+=1
            return count
        
        st=input("Enter a string: ")
        ch=input("Enter a character to be counted: ")
        print(st,ch)

In [144]:
def count(s, ch) : 
      
    # Count variable 
    res = 0
      
    for i in range(len(s)) : 
          
        # Checking character in string 
        if (s[i] == ch): 
            res = res + 1
    return res 
      
      
# Driver code 
str= "australia"
c = 'a'
print(count(str, c))

3

In [145]:
#to find out if the required characters are in the string as it gives boolean
'el' in 'hello'

True

In [146]:
dir(str) #different

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [147]:
str= 'hello World'
str.capitalize()

'Hello world'

In [148]:
# Python program to demonstrate the  
# use of capitalize() function  
  
# capitalize() first letter of  
# string. 
name = "geeks for geeks"
  
print(name.capitalize())  
  
# demonstration of individual words  
# capitalization to generate camel case 
name1 = "geeks"
name2 = "for"
name3 = "geeks"
print(name1.capitalize() + name2.capitalize() 
                         + name3.capitalize())

Geeks for geeks
GeeksForGeeks

In [149]:
st='HELLO'
st1=st.lower()

print("Original String:",st)
print("Converted String:",st1)

print("\n")

st2=st1.upper()
print("Original String: ",st1)
print("Converted String: ",st2)

Original String: HELLO
Converted String: hello


Original String:  hello
Converted String:  HELLO

In [150]:
st='HELLO'
cd="iftikar"
st1=st.lower()   #converts all character to lower case

print("Original String:",st)
print("Converted String:",st1)

print("\n")

cd1=cd.upper()  #converts all characters to upper case
print("Original String: ",cd)
print("Converted String: ",cd1)

Original String: HELLO
Converted String: hello


Original String:  iftikar
Converted String:  IFTIKAR

In [151]:
#returns the index position of s1 in s, where s1 is found FIRST in s and returns -1 if not found

st='Vadapav by Omprakash'

i=st.find('v')
print(i)

j=st.find('Omprakash')
print(j)

k=st.find('Name')
print(k)

l=st.find('a',4,13)
print(l)

6
11
-1
5

In [152]:
s="hello how aro you?"
x=s.find('o',8,12)
print(x)

-1

In [153]:
st='Doberman Pinscher'

i=st.find('n')
print(i)

j=st.find('Doberman')
print(j)

k=st.find('Name')
print(k)

l=st.find('a',4,15)
print(l)

7
0
-1
6

In [154]:
#Strip_function

s="$$$$hello#world$$$$"
st1=s.strip('$')
print(s1)
print(s)

Hello World
$$$$hello#world$$$$

In [155]:
'''Returns True if S starts with the specified prefix, else False. With optionsl start, test S beginning at that position. 
With optional end, stop Comparing S with that position'''

st='hello World'
st.startswith("he")
st.startswith("w",6)

st="xyz abc pqr ab mn gh"
st.startswith("pqr ab mn",8,12)
st.startswith("pqr ab mn",8,18)

True

In [156]:
st="Hello"
st.startswith("he")
st.lower().startswith("he")

True

In [157]:
st="hello how are you? how about you?"
x=st.count('h')
y=st.count('how',3,10)
print(x,y)

3 1

In [158]:
#Program to write a string below and extract only the domain name. E.g gmail.com contain in the sentence itself

x=input("Enter a string\n")
y=x.find('@')
#print(y)--can include this to find the position of @
z=x.find(' ',y)
#print(z)--can include this to find the position of space after @
print("\nThe domain name from the entered text is\n")

a=x[y+1:z]
print(a)

#or the logic below
#for i in range(y+1,z,1):
#    print(x[i],end='')

Enter a string
iftikaraliahmed@gmail.com

The domain name from the entered text is

gmail.co

In [159]:
#Example

x=input("Enter a string\n")
y=x.find('@')
#print(y)--can include this to find the position of @
z=x.find(' ',y)
#print(z)--can include this to find the position of space after @
print("\nThe domain name from the entered text is\n")

a=x[y+1:z]
print(a)

#or the logic below
#for i in range(y+1,z,1):
#    print(x[i],end='')

Enter a string
chetanahegde@ieee.org

The domain name from the entered text is

ieee.or

In [160]:
#Program to add 'ing' at the end of the string. if the string already contains 'ing' at the end then add 'ly'. If string 
#length is less than 3 leave it unchanged

x=(input("\nEnter the string\n"))

if(len(x)>=3):
    if(x.endswith('ing')):
        x1=x+'ly'
    else:
        x1=x+'ing'
    print(x1)
else:
    
    print(x)

Enter the string
cook
cooking

In [161]:
#Program to find the first appearance of the substring 'not' and 'poor' from a given string. 
x=(input("\nEnter the string\n"))

a=x.find('not')
b=x.find('poor')

print("the position of not is" ,a)
print("the position of poor is " ,b)

if (b>a):
    c=x[0:a]+'good'+x[b+4:]
    print(c)
else:
    print(x)

Enter the string
not being a poor guy, he took out his girlfriend for dinner
the position of not is 0
the position of poor is  12
good guy, he took out his girlfriend for dinner

In [162]:
#If given string already ends with 'ing' then add 'ly' instead. if the string length of the given string is less than 3, leave it unchanged


x=(input("\nEnter the string\n"))

if(len(x)>=3):
    if(x.endswith('ing')):
        x1=x+'ly'
    else:
        x1=x+'ing'
    print(x1)
else:
    
    print(x)

Enter the string
kings
kingsing

In [163]:
#Python Program to identify palindrome words in a line of text

str1=input("Enter a string")
for i in str1.split(' '):
    
    if i == i[::-1]:
        
        print(i)

Enter a stringNaman

In [164]:
#Write a python program to get a string made of the first 2 and the last chars from a given a string. 
#If the string length is less than 2, return instead the empty string

string=(input("\nEnter string \n"))
count=0
for i in string:
      count=count+1
new=string[0:2]+string[count-2:count]
print("Newly formed string is:")
print(new)

Enter string
hello world
Newly formed string is:
held

In [165]:
#Consider a string s='Hello how are you?'. Write a program to return the string without spaces

s=(input('\nEnter the string \n'))
s.replace(" ","")

Enter the string
Hello how are you?

'Hellohowareyou?'

In [166]:
#Python program to remove the characters which have odd index values of a given string


x=input('String: ')
x=x[::2]
print(x)

String: Hello World
HloWrd

In [167]:
#Python program to change a given string to a new string where the first and last chars have been exchanged

charstring=input("\nEnter the string: \n")
charstring=charstring[-1] + charstring[1:len(charstring)-1] + charstring[0]
print(charstring)

Enter the string:
Donkey Kong
gonkey KonD

In [168]:
#write a python program to show sum of squares

def square(num) :
    sum = 0
    for i in range(1, num+1) :
        sum= sum + (i * i)
    return sum
num = 60
print("Sum of square is:",square(num))

Sum of square is: 73810

In [169]:
# program to show sum of squares without using loop

def square(num) :
    return (num * (num + 1) * (2 * num + 1)) // 6
num = 60
print("Sum of square is:",square(num))

Sum of square is: 73810

In [170]:
num= int(input("Enter value of num: "))
sum = 0
for i in range(1, num+1):
    sum = sum+(i*i)
print("Sum of squares = ", sum)

Enter value of num: 50
Sum of squares =  42925

In [171]:
num=int(input("Enter value of num: "))
sum=int((num * (num+1) * ((2*num) + 1))/6)
print("Sum of squares =",sum)

Enter value of num: 50
Sum of squares = 42925

In [172]:
num = int(input("Enter num value : "))
sum = 0
while num>0:
    sum = sum + (num*num)
    num = num-1
print("Sum of square =",sum)

Enter num value : 65
Sum of square = 93665

In [173]:
lst=[1,2,3,4,5,6,7,8,9,10]
sum=0
for i in lst:
    sum=sum+(i*i)
print("Sum of squares =",sum)

Sum of squares = 385

In [174]:
# program to find the sum of squares using recursion

def sum(n):
    if n==1:
        return 1
    return n**2+sum(n-1)
print(sum(65))

93665

In [175]:
print("Enter a Number: ", end="")
try:
    num = int(input())
    temp = num
    sum = 0
    while temp!=0:
        rem = temp%10
        sqr = rem*rem
        sum = sum+sqr
        temp = int(temp/10)
    print("\nSum of squares of digits of", num, "=", sum)

except ValueError:
    print("\nInvalid Input!")

Enter a Number: 65

Sum of squares of digits of 65 = 61

In [176]:
# program to find the residual sum of squares using dataframe and statsmodels.api

import pandas as pd
data_frame = pd.DataFrame({'no.of.hours': [1,2,3,4],
                   'match': [3,5,2,1],
                   'score': [76, 78, 85, 88]})
import statsmodels.api 
b = data_frame['score']
a = data_frame[['no.of.hours', 'match']]
a = statsmodels.api.add_constant(a)
result = statsmodels.api.OLS(b, a).fit()
print("Residual sum of square is:",result.ssr)

Residual sum of square is: 1.0638297872340425

/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [177]:
# write a python program to show sum of first n natural numbers

def squaresum(n):
    sm=0
    for i in range (1, n+1):
                  sm=sm+(i*1)
        
    return(sm)

n=5
print (squaresum(n))

15

In [178]:
# Program to display the Fibonacci sequence up to n-th term

nterms = int(input("How many terms? "))

# first two terms
n1, n2 = 0, 1
count = 0

# check if the number of terms is valid
if nterms <= 0:
   print("Please enter a positive integer")
# if there is only one term, return n1
elif nterms == 1:
   print("Fibonacci sequence upto",nterms,":")
   print(n1)
# generate fibonacci sequence
else:
   print("Fibonacci sequence:")
   while count < nterms:
       print(n1)
       nth = n1 + n2
       # update values
       n1 = n2
       n2 = nth
       count += 1

How many terms? 10
Fibonacci sequence:
0
1
1
2
3
5
8
13
21
34

In [179]:
'''
A string with parentheses is well bracketed if all parentheses are matched: every
opening bracket has a matching closing bracket and vice versa. Write a Python function
wellbracketed(s) that takes a string s containing parentheses and returns True if s is well
bracketed and False otherwise. Here are some examples to show how your function
should work.
>>> wellbracketed("22)") should return False
>>> wellbracketed("(a+b)(a-b)") should return True
>>> wellbracketed("(a(b+c)-d)((e+f)") should return False
'''

def wellbracketed(s):
    depth=0
    for i in s:
        if i=='(':
            depth+=1
        elif i==')':
            depth-=1

        if depth<0:
            return False
    
    if depth==0:
        return True
    else:
        return False

string=input("Enter a string:")
x=wellbracketed(string)
print(x)

Enter a string:{[])
False

In [180]:
# Python program to check if the number is an Armstrong number or not

# take input from the user
num = int(input("Enter a number: "))

# initialize sum
sum = 0

# find the sum of the cube of each digit
temp = num
while temp > 0:
   digit = temp % 10
   sum += digit ** 3
   temp //= 10

# display the result
if num == sum:
   print(num,"is an Armstrong number")
else:
   print(num,"is not an Armstrong number")

Enter a number: 153
153 is an Armstrong number

In [181]:
# Program to check Armstrong numbers in a certain interval

lower = 100
upper = 2000

for num in range(lower, upper + 1):

   # order of number
   order = len(str(num))
    
   # initialize sum
   sum = 0

   temp = num
   while temp > 0:
       digit = temp % 10
       sum += digit ** order
       temp //= 10

   if num == sum:
       print(num)

TypeError: ignored

In [182]:
ls1=[] #emptylist

In [183]:
type(ls1)

list

In [184]:
ls2=[10,20,-4,12]
print(ls2)
print('Type is:', type(ls2))

[10, 20, -4, 12]
Type is: <class 'list'>

In [185]:
ls3=[3.5, 4, 'hi',[10, 'hello']]

In [186]:
print(ls3) #print whole list

[3.5, 4, 'hi', [10, 'hello']]

In [187]:
print(ls3[0]) #print 1st element of a list
print(ls3[2]) #print 3nd element of a list
print(ls3[3]) #print 4th element of a list
print(ls3[3][0]) #print 1st element of inner list
print(ls3[3][1]) #print 2nd element of inner list
print(ls3[3][1][1]) #print 2nd character of the string 'hello' of inner list
print(ls3[3][1][2])

3.5
hi
[10, 'hello']
10
hello
e
l

In [188]:
x=int(input('Enter a number: '))
for i  in  range(1,11):
    print(x*i, end=' ')

Enter a number: 9
9 18 27 36 45 54 63 72 81 90

In [189]:
x=int(input('Enter a number: '))
ls=[]
for i  in  range(1,11):
    ls=ls+ [x*i]
    print(ls)

Enter a number: 9
[9]
[9, 18]
[9, 18, 27]
[9, 18, 27, 36]
[9, 18, 27, 36, 45]
[9, 18, 27, 36, 45, 54]
[9, 18, 27, 36, 45, 54, 63]
[9, 18, 27, 36, 45, 54, 63, 72]
[9, 18, 27, 36, 45, 54, 63, 72, 81]
[9, 18, 27, 36, 45, 54, 63, 72, 81, 90]

In [190]:
# Concatenation of lists using +
ls1=[1,2,4,3.4]
ls2=['hi', 10]
ls3=ls1+ls2
print(ls3)

[1, 2, 4, 3.4, 'hi', 10]

In [191]:
#Repitition using *
ls=[1,2,3]
ls1=ls*3
print(ls1)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [192]:
#List Slicing
t=['a','b','c','d','e']
print(t[2:4])
print(t[:3])
print(t[1:])
print(t[:])
print(t[:-2])
print(t[::-1])

['c', 'd']
['a', 'b', 'c']
['b', 'c', 'd', 'e']
['a', 'b', 'c', 'd', 'e']
['a', 'b', 'c']
['e', 'd', 'c', 'b', 'a']

In [193]:
t=['z','y','k','s']
print(t[2:-1])
print(t[::1])

['k']
['z', 'y', 'k', 's']

In [194]:
#LISTS ARE MUTABLE

t=['a','b','c','d','e']
t[3]=10
print(t)

['a', 'b', 'c', 10, 'e']

In [195]:
t=['a','b','c','d','e']
t[1:3]=[10,20]
print(t)

['a', 10, 20, 'd', 'e']

In [196]:
#list append

ls=[1,2,3]
ls.append(4)
print(ls)

[1, 2, 3, 4]

In [197]:
#list extend

ls1=[1,2,3]
ls2=[5,6]
ls2.extend(ls1)
print(ls2)

[5, 6, 1, 2, 3]

In [198]:
ls1=[1,2,3] #list extend added as a extra element will be added together with a same element using append #Extension of the appending list
ls2=[5,6]
ls2.append(ls1)
print(ls2)

[5, 6, [1, 2, 3]]

In [199]:
ls=[1,2,3,4]
ls.append(5)
ls=ls+[10,11]
print(ls)

[1, 2, 3, 4, 5, 10, 11]

In [200]:
ls=[1,2,3]
x=ls.append(4)
print(ls)
print(x)

[1, 2, 3, 4]
None

In [201]:
#sorting a list in ascending order

ls=[4,12,-3,0,45,13]
ls.sort()
print(ls)

[-3, 0, 4, 12, 13, 45]

In [202]:
#sorting list in descending order
ls=[4,12,-3,0,45,13]
ls.sort(reverse=True)
print(ls)

[45, 13, 12, 4, 0, -3]

In [203]:
#sorting without modified original object

ls=[4,12,-3,0,45,13]
ls1=sorted(ls)
print('Sorted List: ',ls1)
print('Original List: ',ls)

Sorted List:  [-3, 0, 4, 12, 13, 45]
Original List:  [4, 12, -3, 0, 45, 13]

In [204]:
ls2=sorted(ls,reverse=True)
print('Original is: ', ls)
print('Ascending: ', ls1)
print('Descending: ',ls2)

Original is:  [4, 12, -3, 0, 45, 13]
Ascending:  [-3, 0, 4, 12, 13, 45]
Descending:  [45, 13, 12, 4, 0, -3]

In [205]:
#Reversing a list 

ls=[1,2,3]
ls.reverse()
print(ls)

[3, 2, 1]

In [206]:
ls=[10,15,99,-76,34,56,90]
ls.reverse()
print(ls)

[90, 56, 34, -76, 99, 15, 10]

In [207]:
ls=[1,2,10,4,-5,'hi',3.4,5]
x=ls.pop()  #given indexed element will be popped out, by default
print(x)

5

In [208]:
#deleting elements from the list

ls=[1,2,10,4,-5,'hi',3.4,5]
x=ls.pop(5)         #given indexed element will be popped out
print(x)

hi

In [209]:
#delete a required element using remove() function 'directly removing element'

ls=[34,-4,5,12,45]
ls.remove(5)
print(ls)

[34, -4, 12, 45]

In [210]:
#deleting more than one element using keyword 'del'

ls=[23,35,-4,65,12,3.5,'hi',45]
del ls[2]             #ls[2] that is 3rd element is deleted
print(ls)

[23, 35, 65, 12, 3.5, 'hi', 45]

In [211]:
#deleting more than one element using keyword 'del'

ls=[23,35,-4,65,12,3.5,'hi',45]
del ls[1:4]             #1st, 2nd and 3rd element are deleted
print(ls)

[23, 12, 3.5, 'hi', 45]

In [212]:
#to remove all elements using clear function

ls=[1,2,3]
ls.clear()
print(ls)

[]

In [213]:
#to count number of occurences of an item in a list

ls=[1,2,5,2,1,3,2,10]
x=ls.count(2)
print(x)

3

In [214]:
#selecting single element at a required position

ls=[1,20,-4,56,12]
ls.insert(2,35)
print(ls)

[1, 20, 35, -4, 56, 12]

In [215]:
ls=[1,2,3]
ls1=ls
print(ls1)

[1, 2, 3]

In [216]:
ls1[1]=5
print(ls1)
print(ls)

[1, 5, 3]
[1, 5, 3]

In [217]:
ls=[1,2,3]
ls1=ls.copy() #use copy() function to avoid the problem
print(ls)
print(ls1)
ls1[2]=10
print(ls)
print(ls1)

[1, 2, 3]
[1, 2, 3]
[1, 2, 3]
[1, 2, 10]

In [218]:
import math

ls=[12,34,-4,5]
print(max(ls))
print(min(ls))
print(sum(ls))
print(len(ls))

34
-4

TypeError: ignored

In [219]:
#Converting a string into list of characters

s='Hello'
ls=list(s)
print(ls)

TypeError: ignored

In [220]:
#Getting list of strings from a sentence

s='Hello how are you?'
ls=s.split(' ')
print(ls)

['Hello', 'how', 'are', 'you?']

In [221]:
#Example: splitting a date into dd, mm and yyyy
d='24/11/1995'
ls=d.split('/')   
print(ls)

['24', '11', '1995']

In [222]:
ls=['hello','how','are','you']
s=' '
s.join(ls)

'hello how are you'

In [223]:
def areBracketsBalanced(expr):
    stack = []

    for char in expr:
        if char in ["(", "{", "["]:

            # Push the element in the stack
            stack.append(char)
        else:
  
            # IF current character is not opening
            # bracket, then it must be closing.
            # So stack cannot be empty at this point.
            if not stack:
                return False
            current_char = stack.pop()
            if current_char == '(':
                if char != ")":
                    return False
            if current_char == '{':
                if char != "}":
                    return False
            if current_char == '[':
                if char != "]":
                    return False

                    # Check Empty Stack
    if stack:
        return False
    return True
  
  
# Driver Code
if __name__ == "__main__":
    expr = "{()}[]"
  
    # Function call
    if areBracketsBalanced(expr):
        print("Balanced")
    else:
        print("Not Balanced")

Balanced

In [224]:
def wellbracketed(s)
    depth=0
    for i in s:
        if i=='(':
            depth+=1
        elif i==')':
            depth-=1
                
        if depth<0:
            return False
                
            if depth==0:
                return True
            else:
                return False
            
string=input("Enter a string: \n")
x=wellbracketed(string)
print(x)

SyntaxError: ignored

In [225]:
def matched_parenthesis(s):
    return s.count('(') == s.count(')')

string=input("Enter a string: \n")
x=matched_parenthesis(string)
print(x)

Enter a string:
{}
True

In [226]:
'''Consider a string s=Hello how are you?. Write a program to display this string without spaces'''

s=input("Enter a string: ")
s1=s.replace(' ','')
print("string without space: ", s1)

Enter a string: Hello how are you nayana?
string without space:  Hellohowareyounayana?

In [227]:
s=input("Enter a string: ")
s1=s[::2]
print("String with odd indexed characters removed: ", s1)

Enter a string: nayana
String with odd indexed characters removed:  nyn

In [228]:
s=input('enter a string: ')
s1=s[-1]+s[1:-1]+s[0]
print("String first and last characters swapped: ",s1)

enter a string: nayana
String first and last characters swapped:  aayann

In [229]:
def mystery (ls):
    if len(ls)<2:
        return(ls)
    else:
        return(mystery(ls[1:]+[ls[0]]))

string=input('Enter mystery code: \n')
ls=mystery(len(ls))
print(ls)

Enter mystery code:
52201

TypeError: ignored

In [230]:
def rotate(l,n):
    return l[n:]+l[:n]

In [231]:
n=3  #no of rotations
list_1 = [1, 2, 3, 4, 5, 6] 
list_1 = (list_1[-n:] + list_1[:-n]) 
print(list_1)

[4, 5, 6, 1, 2, 3]

In [232]:
def rotate_num(input_list, no_of_rotations):
    for i in range(no_of_rotations):
        input_list = input_list[-1::] + input_list[:-1:]
    
    return input_list

sample_input = [1,2,3,4,5]
print( rotate_num(sample_input,3) )

[3, 4, 5, 1, 2]

In [233]:
t=()
print(type(t))

<class 'tuple'>

In [234]:
t1=tuple()
print(type(t1))

<class 'tuple'>

In [235]:
t=(12,35,-1)
print(t)

(12, 35, -1)

In [236]:
t=(23,'hello',3.4,12)
print(t)

(23, 'hello', 3.4, 12)

In [238]:
#create tuple with single element
t=(3)
print(type(t))

<class 'int'>

In [237]:
t =(3, )
print(type(t))

<class 'tuple'>

In [ ]:
t=1,2,3
print(type(t))
print(t)

In [240]:
#Creating Tuple using string

t=tuple('Hello')
print(t)

('H', 'e', 'l', 'l', 'o')

In [241]:
s='Iftikar'
t=tuple(s)
print(t)

('I', 'f', 't', 'i', 'k', 'a', 'r')

In [242]:
#creating a table using a list

ls=[12, -3, 'hi', [5,4], 35]
t=tuple(ls)
print(t)

(12, -3, 'hi', [5, 4], 35)

In [243]:
#creating a tuple from another tuple

t1= 23,78,32
print('t1 is', t1)
print('ID is: ', id(t1))
t2=tuple(t1)
print('t2 is', t2)
print('ID is: ', id(t2))

t1 is (23, 78, 32)
ID is:  140298056474944
t2 is (23, 78, 32)
ID is:  140298056474944

In [244]:
t=tuple('Hello')
nos=[1,2,4,[1,2,4],"hi"]
t=tuple(nos)

st=tuple(t)
print(id(st))
print(id(t))

140298056936240
140298056936240

In [246]:
t='Mango','Banana','Apple','Pineapple'
print(t[1])

Banana

In [245]:
print(t[1:])
print(t[:-1])
print(t[-1])

(2, 4, [1, 2, 4], 'hi')
(1, 2, 4, [1, 2, 4])
hi

In [ ]:
#As tuples are immutable one cannot alter its contents
#Instead we can slice and create new tuple

t=('Mango','Banana','Apple')
#t[0]='Papaya'    Error!!

t=('Papaya',) + t[1:]
print(t)
print(id(t))

In [248]:
ls=[1,2,3]
print(id(ls))
ls[1]=25
print(ls)
print(id(ls))

140298432606032
[1, 25, 3]
140298432606032

In [249]:
#Assigning list to tuples

ls=["hello","world"]
x,y=ls
print(x) #hello
print(y) #world

hello
world

In [250]:
x,y=10,20
print(x)
print(y)

10
20

In [251]:
#swapping of two numbers


a=20
b=90
print(a,b)
a,b=b,a
print(a,b)

20 90
90 20

In [252]:
#excess value assignment

x,y=10,20,30

ValueError: ignored

In [253]:
#using string on RHS. Getting user name and domain name from email id

email='iftikaraliahmed24@gmail.com'
userName, domainName=email.split('@')
print('User name is:', userName)
print('Domain name is: ', domainName)

User name is: iftikaraliahmed24
Domain name is:  gmail.com

In [254]:
#list of tuples giving key values
'''Dictionaries have a method called items'''

d={'a':10, 'b':1, 'c':22}
t=list(d.items())
print(t)

TypeError: ignored

In [255]:
d={'Tom': 3156, 'Jerry': 7812, 'Donald':2102, 'Mickey': 9012}
ls=list(d.items())
print('Original list is:\n', ls)
ls.sort()
print('Sorted list is:\n', ls)

TypeError: ignored

In [256]:
#Write a program to sort words of a given sentence from longest to smallest using tuples

txt='Iftikar went on the beach with some friends and a Football'
words = txt.split(' ')
t=list()

for word in words:
    t.append((len(word), word))
    
print('The list is: \n', t)
t.sort(reverse=True)
res = list()

for length, word in t:
    res.append(word)
print('The sorted list is: \n', res)

TypeError: ignored

In [257]:
s=input("enter a string: ")
ls=s.split(' ')
print('Orginal list:', ls)
ls.sort(key=len, reverse=True)
print(ls)

enter a string: Iftikar went on the mountains with some friends
Orginal list: ['Iftikar', 'went', 'on', 'the', 'mountains', 'with', 'some', 'friends']
['mountains', 'Iftikar', 'friends', 'went', 'with', 'some', 'the', 'on']

In [258]:
#Creating a simple set

st={'Apple', 'Mango', 'Banana'}
print(type(st))

<class 'set'>

In [259]:
print(st)

{'Banana', 'Apple', 'Mango'}

In [260]:
#add element to set

st.add('Cherry')
print(st)

{'Banana', 'Cherry', 'Apple', 'Mango'}

In [261]:
#remove element from set

st.remove('Banana')
print(st)

{'Cherry', 'Apple', 'Mango'}

In [262]:
#adding more than one element at a time

st = {'Apple','Cherry','Peach'}
st.update(['Banana','Papaya'])
print(st)

{'Peach', 'Cherry', 'Banana', 'Papaya', 'Apple'}

In [263]:
st={'Apple','Mango', 'Cherry', 'Banana','Peach','Litchi','Banana'}  #sets will not allow duplication of data
print(st)

{'Peach', 'Litchi', 'Mango', 'Cherry', 'Banana', 'Apple'}

In [264]:
#Write a program to eliminate repeated entries in a list and keep single copy of each element

x_input={'Apple','Mango','Cherry','Cherry','Banana','Pineapple','Grape','Grape'}
set_nos=set(x_input)
print(set_nos)

{'Pineapple', 'Cherry', 'Banana', 'Grape', 'Apple', 'Mango'}

In [265]:
x_input={1,2,3,3,45,67,8,9,100.12}
set_nos=set(x_input)
print(set_nos)

{1, 2, 67, 3, 100.12, 8, 9, 45}

In [266]:
ls=[67,67,1,2,34,45,21,12,21,3,69] 
ls=list(set(ls))
print(ls)

TypeError: ignored

In [269]:
#simple example of lambda function

x= lambda a:a+10
print(x(10))

20

In [267]:
#Lambda function with two arguments

x=lambda a,b: a*b
print(x(10,20))
print(x(4,-5))
print(x(-2,-9))

200
-20
18

In [268]:
#lambda func within a normal func

def myfunc(n):
    return lambda a: a*n
mydoubler = myfunc(2)
mytripler = myfunc(3)
print(mydoubler)

<function myfunc.<locals>.<lambda> at 0x7f99afd04440>

In [270]:
def myfunc(n):
    return lambda a: a*n
mydoubler = myfunc(2)  # myfunc returns Lambda function statement
mytripler = myfunc(3)

print(mydoubler(11))   # argument a in lambda function takes 11 now
print(mytripler(11))

22
33

In [271]:
def histogram(l):
    ls=[]
    for i in l:
        ls.append((i,l.count(i)))
    
    ls=list(set(ls))
    ls.sort(key=lambda x:(x[1],x[0]))
    print(ls)
    
histogram([13,12,11,13,14,13,7,7,13,14,12])

TypeError: ignored

In [272]:
#Lambda func with filter() to get only even numbers

ls=[34,72,98,77,56,45,99,1,2]
final_list = list(filter(lambda x: (x%2 != 0), ls))
print(final_list)

TypeError: ignored

In [273]:
s=input('Enter a string: ')
ls=s.split()
ls1=list(filter(lambda x: x.startswith('h'), ls))
print(ls1)

Enter a string: henlo hooman

TypeError: ignored

In [274]:
ls=[5,7,22,97,54,62,77,23,73,61]
final_list = list(map(lambda x: x*2, ls))
print(final_list)

TypeError: ignored

In [275]:
ls=['hi','hello']
ls1=list(map(lambda x: x.upper(), ls))
print(ls1)

TypeError: ignored

In [276]:
triples=[(x,y,z) for x in range(1,4): for y in range(x,4): for z in range(y,4): if x+y<=z: print(z)]

SyntaxError: ignored

In [277]:
def transcript(course_details,student_details,grades):
    res=list()
    
    for roll,stname in student_details:
        courselist=list()
        for rollnum,code,grade in grades:
            if rollnum==roll:
                for codename, course in cd:
                    if code==codename:
                        courselist.append((code,course,grade))
                        
        res.append((roll,stname,courselist))
        
        #return courselist
        return res
    
    
cd=list()
sd=list()
grades=()
cd=[("10MAT21","M2")]
sd=[("1BG12IS021","IFTIKAR")]
grades=[("1BG12IS021","10MAT21","A")]
transcript(cd,sd,grades)

TypeError: ignored

In [278]:
c=float(input('Enter the temperature in celsius: \n'))

f=(c*9/5)+32
print('The temperature in fahrenheit will be: ',f)

Enter the temperature in celsius:
37
The temperature in fahrenheit will be:  98.6

In [279]:
m=float(input("Enter the mass of the body: "))
a=float(input("Enter the acceleration: "))
F=m*a
print("Mass of the body, m: ",m, "Kgs")
print("Acceleration, a: ",a, "m/s")
print("Hence, Force: ",round(F),"N")

Enter the mass of the body: 85
Enter the acceleration: 743
Mass of the body, m:  85.0 Kgs
Acceleration, a:  743.0 m/s
Hence, Force:  63155 N

In [280]:
x = float(input('Enter Hours: '))
y = float(input('Enter Rate: '))
z = round(x*y)
print("Grosspay =",z)

Enter Hours: 10
Enter Rate: 1000
Grosspay = 10000

In [281]:
x = float(input('Enter Hours: '))
y = float(input('Enter The Rate: '))

if (x>40):
    p = print('Hourly Rate: ',40*x*1.5*y)
elif (x<=40):
    p = print('Hourly Rate: ',x*y)
else:
    print('wrong parameter')
    
print (p)

Enter Hours: 14
Enter The Rate: 40
Hourly Rate:  560.0
None