<a href="https://colab.research.google.com/github/iftikaraliahmed/python/blob/main/untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Numpy & PANDAS

In [ ]:
import numpy as np
##1 dimensional array

array_1=np.array([11,22,33])
print(array_1)

[11 22 33]

In [ ]:
##2 dimensional array

array_2 = np.array([[11,22,33],[21,22,23]])
print(array_2)

[[11 22 33]
 [21 22 23]]

In [ ]:
#Shape of the array

array_2.shape

(2, 3)

In [ ]:
#dimension of the array
print(array_1.ndim)
array_2.ndim

1

2

In [ ]:
#creating array using arange function

array_3=np.arange(5)
array_3

array([0, 1, 2, 3, 4])

In [ ]:
#arange in a limit

array_31= np.arange(5,10)
array_31

array([5, 6, 7, 8, 9])

In [ ]:
array_31 = np.arange(5,20,5)  #arange(startindex, stopindex, stepvalue)
array_31

array([ 5, 10, 15])

LINSPACE FUNCTION

In [ ]:
#creating array using np.linspace

array_4 = np.linspace(0,1,10) #linearly spaced array from 0-1
print(array_4)

[0.         0.11111111 0.22222222 0.33333333 0.44444444 0.55555556
 0.66666667 0.77777778 0.88888889 1.        ]

In [ ]:
#creating a 2x3 array of one using np.ones

array_5=np.ones((2,3))
array_5

array([[1., 1., 1.],
       [1., 1., 1.]])

In [ ]:
#np.zeroes  zero matrix

array_51=np.zeros((5,3))
array_51

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [ ]:
#np.eye  identity matrix

array_11=np.eye(4)
array_11

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

In [ ]:
#np.diag  diagonal matrix

array_7=np.diag((1,2,3,4))
array_7

array([[1, 0, 0, 0],
       [0, 2, 0, 0],
       [0, 0, 3, 0],
       [0, 0, 0, 4]])

In [ ]:
array_7=np.diag((9,4,5,6))
array_7

array([[9, 0, 0, 0],
       [0, 4, 0, 0],
       [0, 0, 5, 0],
       [0, 0, 0, 6]])

In [ ]:
##np.random generating random numbers

array_8=np.random.rand(10) #random.rand  generation
array_8

array([0.75384771, 0.57621523, 0.60146092, 0.56332293, 0.20421402,
       0.14883497, 0.7813207 , 0.22006416, 0.64180583, 0.90930093])

In [ ]:
array_8=np.random.rand(4) #random.rand  generation
array_8

array([0.52714798, 0.69966771, 0.78116038, 0.36479296])

In [ ]:
array_8=np.random.rand(4,2) #random.rand  generation for 2x2 array
array_8

array([[0.57332598, 0.51489869],
       [0.6866955 , 0.85191037],
       [0.128341  , 0.95257311],
       [0.56402916, 0.01865448]])

In [ ]:
array_8 = np.random.rand(4,3)
print(array_8)

[[0.0634134  0.30684647 0.97731253]
 [0.65754932 0.23435685 0.73665588]
 [0.71034597 0.44230143 0.13547077]
 [0.05247692 0.53068733 0.25775077]]

In [ ]:
#random number generation with normal distribution
#each time the numbers that are generated
array_9 = np.random.randn(5)
array_9

array([-0.32539728, -1.44153637,  0.12408031, -1.17728838,  1.39992339])

In [ ]:
help(np.random.randn())

Help on float object:

class float(object)
 |  float(x=0, /)
 |
 |  Convert a string or number to a floating point number, if possible.
 |
 |  Methods defined here:
 |
 |  __abs__(self, /)
 |      abs(self)
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __divmod__(self, value, /)
 |      Return divmod(self, value).
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __float__(self, /)
 |      float(self)
 |
 |  __floordiv__(self, value, /)
 |      Return self//value.
 |
 |  __format__(self, format_spec, /)
 |      Formats the float according to format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __int__(self, /)
 |      int(self)
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __neg__(self, /)
 |      -self
 |
 |  __pos__(self, /)
 |      +self
 |
 |  __pow__(self, value, mod=None, /)
 |      Return pow(self, value, mod).
 |
 |  __radd__(self, value, /)
 |      Return value+self.
 |
 |  __rdivmod__(self, value, /)
 |      Return divmod(value, self).
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rfloordiv__(self, value, /)
 |      Return value//self.
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __round__(self, ndigits=None, /)
 |      Return the Integral closest to x, rounding half toward even.
 |
 |      When an argument is passed, work like built-in round(x, ndigits).
 |
 |  __rpow__(self, value, mod=None, /)
 |      Return pow(value, self, mod).
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rtruediv__(self, value, /)
 |      Return value/self.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __truediv__(self, value, /)
 |      Return self/value.
 |
 |  __trunc__(self, /)
 |      Return the Integral closest to x between 0 and x.
 |
 |  as_integer_ratio(self, /)
 |      Return integer ratio.
 |
 |      Return a pair of integers, whose ratio is exactly equal to the original float
 |      and with a positive denominator.
 |
 |      Raise OverflowError on infinities and a ValueError on NaNs.
 |
 |      >>> (10.0).as_integer_ratio()
 |      (10, 1)
 |      >>> (0.0).as_integer_ratio()
 |      (0, 1)
 |      >>> (-.25).as_integer_ratio()
 |      (-1, 4)
 |
 |  conjugate(self, /)
 |      Return self, the complex conjugate of any float.
 |
 |  hex(self, /)
 |      Return a hexadecimal representation of a floating-point number.
 |
 |      >>> (-0.1).hex()
 |      '-0x1.999999999999ap-4'
 |      >>> 3.14159.hex()
 |      '0x1.921f9f01b866ep+1'
 |
 |  is_integer(self, /)
 |      Return True if the float is an integer.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __getformat__(typestr, /) from builtins.type
 |      You probably don't want to use this function.
 |
 |        typestr
 |          Must be 'double' or 'float'.
 |
 |      It exists mainly to be used in Python's test suite.
 |
 |      This function returns whichever of 'unknown', 'IEEE, big-endian' or 'IEEE,
 |      little-endian' best describes the format of floating point numbers used by the
 |      C type named by typestr.
 |
 |  __set_format__(typestr, fmt, /) from builtins.type
 |      You probably don't want to use this function.
 |
 |        typestr
 |          Must be 'double' or 'float'.
 |        fmt
 |          Must be one of 'unknown', 'IEEE, big-endian' or 'IEEE, little-endian',
 |          and in addition can only be one of the latter two if it appears to
 |          match the underlying C reality.
 |
 |      It exists mainly to be used in Python's test suite.
 |
 |      Override the automatic determination of C-level floating point type.
 |      This affects how floats are converted to and from binary strings.
 |
 |  fromhex(string, /) from builtins.type
 |      Create a floating-point number from a hexadecimal string.
 |
 |      >>> float.fromhex('0x1.ffffp10')
 |      2047.984375
 |      >>> float.fromhex('-0x1p-1074')
 |      -5e-324
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  imag
 |      the imaginary part of a complex number
 |
 |  real
 |      the real part of a complex number

In [ ]:
#Gives the info the function
?np.random.randn

In [ ]:
##np.empty creating an uninitialized array

array_10=np.empty((4,3))
array_10

array([[0.0634134 , 0.30684647, 0.97731253],
       [0.65754932, 0.23435685, 0.73665588],
       [0.71034597, 0.44230143, 0.13547077],
       [0.05247692, 0.53068733, 0.25775077]])

In [ ]:
?np.empty

In [ ]:
##np.tile Repeats the values for the required number

array_11=np.tile(([5,3],[8,9]),3)
array_11

array([[5, 3, 5, 3, 5, 3],
       [8, 9, 8, 9, 8, 9]])

In [ ]:
array_12=np.tile(np.array([[5,3],[8,9]]),3)
array_12

array([[5, 3, 5, 3, 5, 3],
       [8, 9, 8, 9, 8, 9]])

NumPy Datatypes

In [ ]:
#Default datatype is float

arr_1=np.array([4,-2,5,9],dtype=float)
arr_1

array([ 4., -2.,  5.,  9.])

In [ ]:
arr_1.dtype

dtype('float64')

In [ ]:
arr_1=np.array([4,2,-9,8])
arr_1.dtype

dtype('int64')

In [ ]:
arr_1=np.array([4,2,-9,8], dtype=int)
arr_1

array([ 4,  2, -9,  8])

In [ ]:
arr_3 = np.array(['hello','hi','how are you'])
arr_3.dtype #Displays the type and length of the string

dtype('<U11')

In [ ]:
array_5=np.array([True, False])
array_5.dtype

dtype('bool')

In [ ]:
#Typecasting

arr_6=np.array([1,-4,5,6.32])
arr_6.dtype

dtype('float64')

In [ ]:
arr_6=arr_6.astype(int)
arr_6.dtype

dtype('int64')

In [ ]:
arrayint=np.array([1,4,5,9.77])
print(arrayint.dtype)
arrayint=arrayint.astype(int)
print(arrayint.dtype)

float64
int64

Accessing Elements in an Array

In [ ]:
#NumPy Indexing and Slicing

array_ele=np.arange(6)
array_ele

array([0, 1, 2, 3, 4, 5])

In [ ]:
array_ele[0] #first element

0

In [ ]:
array_ele[-2] #last but one element

4

In [ ]:
array_ele[::-1]  #Reversing the elements

array([5, 4, 3, 2, 1, 0])

In [ ]:
#Accessing elements in a multidimensional array

array_ele2=np.array([[4,3],[3,5],[1,2]])
print(array_ele2)

[[4 3]
 [3 5]
 [1 2]]

In [ ]:
array_ele2[0,1]=-1 #changing the values of the arrays
array_ele2

array([[ 4, -1],
       [ 3,  5],
       [ 1,  2]])

In [ ]:
#Retrieve the first row:
array_ele2[1]  #Row elements starts from 0

array([3, 5])

In [ ]:
#Retrieve 2nd row and all cols

array_ele2[2,:]

array([1, 2])

In [ ]:
array_ele2[:1]

array([[ 4, -1]])

In [ ]:
#Retrieve the columns

##arr[row:col] 
array_ele2[:,1]

array([-1,  5,  2])

In [ ]:
## default syntax for slicing=arr[row:col] 
#values before the, is for the rows and after the , is for the columns

arr_5=2*np.arange(10)
arr_5  #indexes only

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18])

In [ ]:
arr_5[0:6:2] #0th index to 6th index

array([0, 4, 8])

In [ ]:
arr_5[0:3] #0th index to 2nd index

array([0, 2, 4])

In [ ]:
arr_5[3:] #3rd element to end

array([ 6,  8, 10, 12, 14, 16, 18])

In [ ]:
arr_5[::3] #stepjumping by 3, Stride by 3 places

array([ 0,  6, 12, 18])

In [ ]:
arr_5[1]=-2 #Replace one element
arr_5

array([ 0, -2,  4,  6,  8, 10, 12, 14, 16, 18])

In [ ]:
arr_5[:3]=-2  #replacing all the elements until index 2 as -2
arr_5

array([-2, -2, -2,  6,  8, 10, 12, 14, 16, 18])

In [ ]:
arr_5[2:]=np.ones(1)
arr_5

array([-2, -2,  1,  1,  1,  1,  1,  1,  1,  1])

In [ ]:
arr_5[2:]=np.ones(8)
arr_5

array([-2, -2,  1,  1,  1,  1,  1,  1,  1,  1])

In [ ]:
arr_5[2:]=np.ones(1)
arr_5

array([-2, -2,  1,  1,  1,  1,  1,  1,  1,  1])

In [ ]:
#creating a 5X5 array

array5X5=np.array([[1,2,3,4,5],[11,12,13,14,15],[21,22,23,24,25],[31,32,33,34,35],[41,42,43,44,45]])
array5X5

array([[ 1,  2,  3,  4,  5],
       [11, 12, 13, 14, 15],
       [21, 22, 23, 24, 25],
       [31, 32, 33, 34, 35],
       [41, 42, 43, 44, 45]])

In [ ]:
array5X5[0,3:5]

array([4, 5])

In [ ]:
array5X5[4:,4:]

array([[45]])

In [ ]:
array5X5[3:,2:]

array([[33, 34, 35],
       [43, 44, 45]])

In [ ]:
array5X5[:,2]

array([ 3, 13, 23, 33, 43])

In [ ]:
#starting the 2nd row in steps of two and respect to column skip by 2

array5X5[2::2,::2]

array([[21, 23, 25],
       [41, 43, 45]])

In [ ]:
#random number gen - to get the same set of random numbers everytime
np.random.seed(50)
arrayrandint=np.random.randint(25,50,5)
arrayrandint

array([41, 25, 36, 38, 26])

In [ ]:
np.random.random(25.0,35.0)

TypeError: ignored

In [ ]:
arfl=np.random.random(25)
arfl

array([0.60993813, 0.02143623, 0.15220072, 0.95470613, 0.80468256,
       0.24423009, 0.3251973 , 0.43930505, 0.13478847, 0.59472326,
       0.97821597, 0.08861251, 0.29394091, 0.23904398, 0.51661166,
       0.04597103, 0.26465872, 0.67136671, 0.78927019, 0.36441934,
       0.11342968, 0.16679188, 0.01824974, 0.78856948, 0.27714299])

In [ ]:
np.random.seed(100)
arr69=np.random.randint(25,50,5)
arr69

array([33, 49, 28, 32, 48])

In [ ]:
arr_even=(arrayrandint%2==0)
arr_even

array([False, False,  True,  True,  True])

In [ ]:
arrayrandint[arr_even]

array([36, 38, 26])

In [ ]:
##

arr_county=np.array(['India','Russia','France','','Srilanka'])
arr_county

array(['India', 'Russia', 'France', '', 'Srilanka'], dtype='<U8')

In [ ]:
arr_county[arr_county == ''] = 'Pakistan'
arr_county

array(['India', 'Russia', 'France', 'Pakistan', 'Srilanka'], dtype='<U8')

In [ ]:
#Masking the empty space with new values

arstate=np.array(['Assam','Karnataka','Delhi','','Chennai'])
print(arstate)
arstate[arstate == ''] = 'Bombay'
print(arstate)

['Assam' 'Karnataka' 'Delhi' '' 'Chennai']
['Assam' 'Karnataka' 'Delhi' 'Bombay' 'Chennai']

In [ ]:
arr_county=np.array(['India','Russia','France','','Bhutan'])
arr_county
arr_county[arr_county == ''] = 'SouthAfrica'
arr_county

array(['India', 'Russia', 'France', 'SouthA', 'Bhutan'], dtype='<U6')

In [ ]:
arr_county[[1,2,3]]

array(['Russia', 'France', 'SouthA'], dtype='<U6')

In [ ]:
arr_county[[1,4]]

array(['Russia', 'Bhutan'], dtype='<U6')

In [ ]:
arr_county[[1,4]]=100
arr_county

array(['India', '100', 'France', 'SouthA', '100'], dtype='<U6')

In [ ]:
array5X5[0,-2]

4

In [ ]:
#Complex indexing

arr_15=np.arange(20)
arr_15

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19])

In [ ]:
arr_16=np.arange(-11,-20,-1)[::-1]
arr_16

##[-11,-12,-13,-14,-,15,-16,-17,-18,-19]

array([-19, -18, -17, -16, -15, -14, -13, -12, -11])

In [ ]:
arr_15[:9]=arr_16
arr_15

array([-19, -18, -17, -16, -15, -14, -13, -12, -11,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19])

Copies and Views

In [ ]:
arr_1=np.arange(5)
arr_2=arr_1[::2]
print(arr_1)
print(arr_2)

[0 1 2 3 4]
[0 2 4]

In [ ]:
arr_2[1]=-4
arr_2

array([ 0, -4,  4])

In [ ]:
arr_1

array([ 0,  1, -4,  3,  4])

In [ ]:
#arr2 will be referencing the values in the arr1. changes made to arr2 will reflect in arr1
#hence arr2 will be a view of arr1

arr_3=np.arange(10)
arr_3

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [ ]:
arr_4=arr_3[:3].copy()
arr_4

array([0, 1, 2])

In [ ]:
#arr4 is a copy of arr3

arr_4[1]=-10
print(arr_3)
print(arr_4)

[0 1 2 3 4 5 6 7 8 9]
[  0 -10   2]

Basic Operations

In [ ]:
#Basic Operation

arr_1=np.arange(1,10)*4  #Multiply
arr_1

array([ 4,  8, 12, 16, 20, 24, 28, 32, 36])

In [ ]:
#power operation

arr_2=np.arange(1,10)**2
arr_2

array([ 1,  4,  9, 16, 25, 36, 49, 64, 81])

In [ ]:
#operations are performed element wise
arr_3=arr_1 * 0.5
arr_3

array([ 2.,  4.,  6.,  8., 10., 12., 14., 16., 18.])

In [ ]:
arr_4 = 4+np.arange(0,20,2)
arr_4

array([ 4,  6,  8, 10, 12, 14, 16, 18, 20, 22])

In [ ]:
arr_5=np.arange(10)
arr_5

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [ ]:
arr_6=arr_4-arr_5
print(arr_6)

[ 4  5  6  7  8  9 10 11 12 13]

In [ ]:
arr_7=arr_5/arr_4
arr_7

array([0.        , 0.16666667, 0.25      , 0.3       , 0.33333333,
       0.35714286, 0.375     , 0.38888889, 0.4       , 0.40909091])

In [ ]:
arr_8=arr_4*arr_5
arr_8

array([  0,   6,  16,  30,  48,  70,  96, 126, 160, 198])

In [ ]:
arr_11=np.arange(100)
%timeit arr_11 * 3

986 ns  17.5 ns per loop (mean  std. dev. of 7 runs, 1000000 loops each)

In [ ]:
arr_12 = range(100)
%timeit [arr_12[i]** 3 for i in arr_12]

36.8 s  820 ns per loop (mean  std. dev. of 7 runs, 10000 loops each)

In [ ]:
#Matrix multiplication

arr_21=np.array([[5,2],[6,3]])
arr_22=np.array([[2,3],[4,5]])
arr_23=arr_21.dot(arr_22)      #.dot for multiplicative
arr_23

array([[18, 25],
       [24, 33]])

In [ ]:
arr_21=np.array([[5,2],[6,3]])
arr_31=np.array([[8,7],[9,4]])
arr_23=arr_21.dot(arr_31)      #.dot for multiplicative
print(arr_21)
print(arr_31)
arr_23

[[5 2]
 [6 3]]
[[8 7]
 [9 4]]

array([[58, 43],
       [75, 54]])

In [ ]:
#Logical operations

arr_25=arr_21<arr_31
arr_25

array([[ True,  True],
       [ True,  True]])

In [ ]:
arr_26=arr_5>arr_4
arr_25

array([[ True,  True],
       [ True,  True]])

In [ ]:
#logical
#And operation
arr_17 = np.array([True,False,True,False])
arr_18 = np.array([True,True,False,False])

arr_20 = np.logical_and(arr_17,arr_18)
arr_20

array([ True, False, False, False])

In [ ]:
arr_21 = np.logical_or(arr_17,arr_18) #or operation
arr_21

array([ True,  True,  True, False])

In [ ]:
arr_22 = np.array([np.pi,np.pi/2])
arr_22

array([3.14159265, 1.57079633])

In [ ]:
arr_22=np.array([np.pi,np.pi/2])
arr_24=np.sin(arr_21)
print(arr_24)
arr_22

[0.8413 0.8413 0.8413 0.    ]

array([3.14159265, 1.57079633])

In [ ]:
#arrays have to be of the same shape else, or they have to be broadcasted 

arr_31 = np.arange(1,6)
arr_32 = np.arange(1,8)
arr_33 = arr_31+arr_32

ValueError: ignored

In [ ]:
#array equal function compares the shape and the elements of two arrays

arr_41 = np.arange(1,7)
arr_42 = np.array([1,2,3,4,5,6])  #comparing the shape and the elements to the given shape
arr_43 = np.array_equal(arr_41,arr_42)
arr_43

True

In [ ]:
#Comparison for all elements

arr_44=np.all(arr_41==arr_42)
arr_44

True

In [ ]:
arr_45=np.arange(1,10)
arr_45

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [ ]:
arr_42

array([1, 2, 3, 4, 5, 6])

In [ ]:
arr_50 = np.array([4,5,7,8])
arr_51 = np.array([9,3,2,6])
arr_46 = np.any(arr_50>arr_51)
arr_46

True

In [ ]:
#Broadcasting one array into another

import numpy as np
arr_1 = np.ones([5,2])
arr_1

array([[1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.]])

In [ ]:
arr_2 = np.array([5,2])
arr_2

array([5, 2])

In [ ]:
arr_3 = arr_1 + arr_2 #arr2 is being broadcasted to arr1
arr_3

array([[6., 3.],
       [6., 3.],
       [6., 3.],
       [6., 3.],
       [6., 3.]])

In [ ]:
arr_4=np.array([[11,22,33]])
arr_5=arr_4.T     #Transpose of an array
arr_5

array([[11],
       [22],
       [33]])

In [ ]:
arr_6=arr_4+arr_5 
arr_6

array([[22, 33, 44],
       [33, 44, 55],
       [44, 55, 66]])

In [ ]:
#reshaping a matrix

x=np.arange(4)
x

array([0, 1, 2, 3])

In [ ]:
#convert 1x4 to 4x1
xx = x.reshape(4,1)
xx

array([[0],
       [1],
       [2],
       [3]])

In [ ]:
y=np.ones(5)
y

array([1., 1., 1., 1., 1.])

In [ ]:
z= xx+y
z

array([[1., 1., 1., 1., 1.],
       [2., 2., 2., 2., 2.],
       [3., 3., 3., 3., 3.],
       [4., 4., 4., 4., 4.]])

Array Manipulation and String

In [ ]:
#Create two arrays with any shape and try to 
import numpy as np
ary=np.array([[5,7],[4,5],[9,0]], dtype=int)
ary2=np.array([[3,6],[2,4],[1,8]], dtype=int)

In [ ]:
ary3=ary.reshape(2,3)
print(ary)
ary3

[[5 7]
 [4 5]
 [9 0]]

array([[5, 7, 4],
       [5, 9, 0]])

In [ ]:
#Resizing of Array
ary4=ary3
ary4.resize(6)
ary4

array([5, 7, 4, 5, 9, 0])

In [ ]:
ary4=ary3
ary3.resize(8)
ary4

In [ ]:
#Array resize

ary4=arr_2 
ary2.resize(8)  #if number of elements are less than 0s are appended
                #if a view is created then resize will not work
ary4               #reshape will not work for views in arrays

ValueError: ignored

In [ ]:
#Elements from the array are appended at the end when the array is passed as an argument
arr_6=np.arange(10,15)
arr_7=np.resize(arr_4,(8,))
arr_7

array([11, 22, 33, 11, 22, 33, 11, 22])

In [ ]:
arr_4

array([[11, 22, 33]])

In [ ]:
#flattening a multidimensional array
#ravel func : No of rows and columns need not to be known
arr_11 = np.array([np.arange(2,7), np.arange(15,20)])
print(arr_11)
arr_22=arr_11.flatten()
arr_22

[[ 2  3  4  5  6]
 [15 16 17 18 19]]

array([ 2,  3,  4,  5,  6, 15, 16, 17, 18, 19])

In [ ]:
#np.flatten(). Same as ravel function. returns a copy of the original array
arr_22=arr_11.ravel()
arr_22

array([ 2,  3,  4,  5,  6, 15, 16, 17, 18, 19])

In [ ]:
#adding a new dimension to an existing array
#number of elements is the shape of the array i.e (3,) becomes (3,3)
#Scalar matrix is a set of elements
arr_9=np.array([21,22,23],[24,25,26])
print(arr_9.shape)
arr_10 = arr_9[:, np.newaxis]
print(arr_10)
arr_10.shape

TypeError: ignored

In [ ]:
arr_11=arr_10[:,np.newaxis]
print(arr_11.shape)
arr_11

NameError: ignored

In [ ]:
arr_22=np.array([[1,2],[2,3]])
print(arr_22)
arr_21=arr_22[:, np.newaxis]
arr_21

[[1 2]
 [2 3]]

array([[[1, 2]],

       [[2, 3]]])

In [ ]:
#Array Sorting

arr_12=np.array([[4,5,2],[3,2,1]])
arr_12.sort(axis=1)   # 1 is row wise or x axis
arr_12

array([[2, 4, 5],
       [1, 2, 3]])

In [ ]:
arr_12=np.array([[4,5,2],[3,2,1]])
arr_12.sort(axis=0) #0 is column wise or y axis
arr_12

array([[3, 2, 1],
       [4, 5, 2]])

In [ ]:
?np.sort

In [ ]:
#Reduction and statistical operations
#product of all elements
arr_30=np.arange(1,8)
arr_30.prod()

5040

In [ ]:
arr_31=np.array([[np.arange(2,6),np.arange(2,6)]])
arr_31

array([[[2, 3, 4, 5],
        [2, 3, 4, 5]]])

In [ ]:
arr_32=np.prod(arr_31, axis=0)
print(arr_31.shape)
arr_32

(1, 2, 4)

array([[2, 3, 4, 5],
       [2, 3, 4, 5]])

In [ ]:
arr_32=np.prod(arr_31, axis=1)
arr_32

array([[ 4,  9, 16, 25]])

In [ ]:
#np.mean,#np.median,#np.sum

#np.mean
arr_mean = [20, 2, 7, 1, 34]
  
print("arr : ", arr_mean) 
print("mean of arr : ", np.mean(arr_mean))

arr :  [20, 2, 7, 1, 34]
mean of arr :  12.8

In [ ]:
# 2D array 
arr = [[14, 17, 12, 33, 44],  
       [15, 6, 27, 8, 19], 
       [23, 2, 54, 1, 4, ]] 
    
# mean of the flattened array 
print("\nmean of arr, axis = None : ", np.mean(arr)) 
    
# mean along the axis = 0 
print("\nmean of arr, axis = 0 : ", np.mean(arr, axis = 0)) 
   
# mean along the axis = 1 
print("\nmean of arr, axis = 1 : ", np.mean(arr, axis = 1))
  
out_arr = np.arange(3)
print("\nout_arr : ", out_arr) 
print("mean of arr, axis = 1 : ", 
      np.mean(arr, axis = 1, out = out_arr))

mean of arr, axis = None :  18.6

mean of arr, axis = 0 :  [17.33333333  8.33333333 31.         14.         22.33333333]

mean of arr, axis = 1 :  [24.  15.  16.8]

out_arr :  [0 1 2]
mean of arr, axis = 1 :  [24 15 16]

In [ ]:
#np.median
import numpy as np
    
# 1D array 
arr = [20, 2, 7, 1, 34]
  
print("arr : ", arr) 
print("median of arr : ", np.median(arr))

arr :  [20, 2, 7, 1, 34]
median of arr :  7.0

In [ ]:
# 2D array 
arr = [[14, 17, 12, 33, 44],  
       [15, 6, 27, 8, 19], 
       [23, 2, 54, 1, 4, ]] 
    
# median of the flattened array 
print("\nmedian of arr, axis = None : ", np.median(arr)) 
    
# median along the axis = 0 
print("\nmedian of arr, axis = 0 : ", np.median(arr, axis = 0)) 
   
# median along the axis = 1 
print("\nmedian of arr, axis = 1 : ", np.median(arr, axis = 1))
  
out_arr = np.arange(3)
print("\nout_arr : ", out_arr) 
print("median of arr, axis = 1 : ", 
      np.median(arr, axis = 1, out = out_arr))

median of arr, axis = None :  15.0

median of arr, axis = 0 :  [15.  6. 27.  8. 19.]

median of arr, axis = 1 :  [17. 15.  4.]

out_arr :  [0 1 2]
median of arr, axis = 1 :  [17 15  4]

In [ ]:
#np.std
import numpy as np
    
# 1D array 
arr = [20, 2, 7, 1, 34]
  
print("arr : ", arr) 
print("std of arr : ", np.std(arr))
  
print ("\nMore precision with float32")
print("std of arr : ", np.std(arr, dtype = np.float32))
  
print ("\nMore accuracy with float64")
print("std of arr : ", np.std(arr, dtype = np.float64))

arr :  [20, 2, 7, 1, 34]
std of arr :  12.576167937809991

More precision with float32
std of arr :  12.576168

More accuracy with float64
std of arr :  12.576167937809991

In [ ]:

    
  
# 2D array 
arr = [[2, 2, 2, 2, 2],  
       [15, 6, 27, 8, 2], 
       [23, 2, 54, 1, 2, ], 
       [11, 44, 34, 7, 2]] 
  
    
# std of the flattened array 
print("\nstd of arr, axis = None : ", np.std(arr)) 
    
# std along the axis = 0 
print("\nstd of arr, axis = 0 : ", np.std(arr, axis = 0)) 
   
# std along the axis = 1 
print("\nstd of arr, axis = 1 : ", np.std(arr, axis = 1))

std of arr, axis = None :  15.3668474320532

std of arr, axis = 0 :  [ 7.56224173 17.68473918 18.59267329  3.04138127  0.        ]

std of arr, axis = 1 :  [ 0.          8.7772433  20.53874388 16.40243884]

In [ ]:
#np.sum
import numpy as np 
       
# 1D array 
arr = [20, 2, .2, 10, 4]  
   
print("\nSum of arr : ", np.sum(arr)) 
   
print("Sum of arr(uint8) : ", np.sum(arr, dtype = np.uint8)) 
print("Sum of arr(float32) : ", np.sum(arr, dtype = np.float32))
   
print ("\nIs np.sum(arr).dtype == np.uint : ", 
       np.sum(arr).dtype == np.uint) 
  
print ("Is np.sum(arr).dtype == np.float : ", 
       np.sum(arr).dtype == np.float)

Sum of arr :  36.2
Sum of arr(uint8) :  36
Sum of arr(float32) :  36.2

Is np.sum(arr).dtype == np.uint :  False
Is np.sum(arr).dtype == np.float :  True

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:16: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  app.launch_new_instance()

In [ ]:

       
# 2D array 
arr = [[14, 17, 12, 33, 44],   
       [15, 6, 27, 8, 19],  
       [23, 2, 54, 1, 4,]]  
   
print("\nSum of arr : ", np.sum(arr)) 
   
print("Sum of arr(uint8) : ", np.sum(arr, dtype = np.uint8)) 
print("Sum of arr(float32) : ", np.sum(arr, dtype = np.float32))
   
print ("\nIs np.sum(arr).dtype == np.uint : ", 
                 np.sum(arr).dtype == np.uint) 
  
print ("Is np.sum(arr).dtype == np.uint : ", 
              np.sum(arr).dtype == np.float)

Sum of arr :  279
Sum of arr(uint8) :  23
Sum of arr(float32) :  279.0

Is np.sum(arr).dtype == np.uint :  False
Is np.sum(arr).dtype == np.uint :  False

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  from ipykernel import kernelapp as app

In [ ]:
import pandas as pd
import numpy as np

#Series creation
##series=pd.Series(data,index = idx)
#Creating series using numpy array
np.random.seed(20)
s=pd.Series(np.random.rand(4), index=[21,22,23,24])
s

21    0.588131
22    0.897714
23    0.891531
24    0.815837
dtype: float64

In [ ]:
s.index

Int64Index([21, 22, 23, 24], dtype='int64')

In [ ]:
import calendar as cal
name_of_month = [cal.month_name[i] for i in np.arange(6,12)]    #month_of_year.index
month_of_year = pd.Series(np.arange(6,12), index=name_of_month)
month_of_year

June          6
July          7
August        8
September     9
October      10
November     11
dtype: int64

In [ ]:
month_of_year.index

Index(['June', 'July', 'August', 'September', 'October', 'November'], dtype='object')

### **DICTIONARY**

Creating a series from a dictionary

In [ ]:
#Creating a series from a dictionary

dict1 = {'France':'Euro','India':'Rupee','Japan':'Yen','UK':'Pound'}
series2 = pd.Series(dict1)  #series2.index
series2

France     Euro
India     Rupee
Japan       Yen
UK        Pound
dtype: object

In [ ]:
series2.index

Index(['France', 'India', 'Japan', 'UK'], dtype='object')

In [ ]:
#creating series using scalar value

orchids = pd.Series('Dendrobuim', index = ['name','species_name','country','1'])
orchids

name            Dendrobuim
species_name    Dendrobuim
country         Dendrobuim
1               Dendrobuim
dtype: object

In [ ]:
#creating a series 

dict1 = {"Google": 450, "Amazon": 1200, "Yes Bank": 6004, "Flipkart": 1099, "Jabong": 892}
series1 = pd.Series(dict1)
series1

Google       450
Amazon      1200
Yes Bank    6004
Flipkart    1099
Jabong       892
dtype: int64

In [ ]:
series1.index

Index(['Google', 'Amazon', 'Yes Bank', 'Flipkart', 'Jabong'], dtype='object')

In [ ]:
series1.index.sort_values()

Index(['Amazon', 'Flipkart', 'Google', 'Jabong', 'Yes Bank'], dtype='object')

In [ ]:
ex1={'b':33,'D':53,'a':23,'c':43}
series2 = pd.Series(ex1)
series2

b    33
D    53
a    23
c    43
dtype: int64

In [ ]:
ex1={'b':33,'D':53,'a':23,'c':43}
series2 = pd.Series(ex1)
series2

b    33
D    53
a    23
c    43
dtype: int64

In [ ]:
ex1={'b':033.00,'D':53.1,'a':23.5,'c':43.2}
series2 = pd.Series(ex1)
series2

b    33.0
D    53.1
a    23.5
c    43.2
dtype: float64

In [ ]:
st1 = {'INFY':567.12,'TCS':345.34,'Wipro': 564.45, 'HCL':45.15,'L&T':678.00}
ser2 = pd.Series(st1, index)

NameError: ignored

In [ ]:
st1 = {'INFY':567.12,'TCS':345.34,'Wipro': 564.45, 'HCL':45.15,'L&T':678.00}
ser2 = pd.Series(st1, index = ['Wipro','TCS','HCL','L&T','INFY'])
ser2

Wipro    564.45
TCS      345.34
HCL       45.15
L&T      678.00
INFY     567.12
dtype: float64

In [ ]:
ser2.index

Index(['Wipro', 'TCS', 'HCL', 'L&T', 'INFY'], dtype='object')

In [ ]:
#Operations on series

ser2[0]=1000
ser2

Wipro    1000.00
TCS       345.34
HCL        45.15
L&T       678.00
INFY      567.12
dtype: float64

In [ ]:
ser2['Genpact']

KeyError: ignored

In [ ]:
##Slicing

ser2[:3]

Wipro    1000.00
TCS       345.34
HCL        45.15
dtype: float64

In [ ]:
ser2.tail(2)

L&T     678.00
INFY    567.12
dtype: float64

In [ ]:
#Logical operations

ex2=series1[series1>500]
ex2

Amazon      1200
Yes Bank    6004
Flipkart    1099
Jabong       892
dtype: int64

In [ ]:
import numpy as np
np.mean(ser2)

527.122

In [ ]:
ser2.mean()

527.122

In [ ]:
##
arr1= np.array([1,2,3,4,5,6,7])
ser3=pd.Series(arr1)
ser3

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int64

In [ ]:
ser4 = ser3 * ser3
ser4

0     1
1     4
2     9
3    16
4    25
5    36
6    49
dtype: int64

In [ ]:
np.sqrt(ser4)

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    6.0
6    7.0
dtype: float64

In [ ]:
ser4[1:]

1     4
2     9
3    16
4    25
5    36
6    49
dtype: int64

In [ ]:
ser4[:-1]

0     1
1     4
2     9
3    16
4    25
5    36
dtype: int64

In [ ]:
a=ser4[1:]
a

1     4
2     9
3    16
4    25
5    36
6    49
dtype: int64

In [ ]:
b=ser4[:-1]
b

0     1
1     4
2     9
3    16
4    25
5    36
dtype: int64

In [ ]:
series5=a+b
series5

0     NaN
1     8.0
2    18.0
3    32.0
4    50.0
5    72.0
6     NaN
dtype: float64

In [ ]:
type(series5)

pandas.core.series.Series

Creation of a **DataFrame**

In [ ]:
#Dataframe Creation

series1 = {'INFY': pd.Series([1,2,3,4,5,6,7]), 'TCS': pd.Series([4,5,6,7,8,9,10]), 'Wipro': pd.Series([12,34,45,56,67,78,89])}
type(series1)

dict

In [ ]:
series2=pd.DataFrame(series1)
series2

   INFY  TCS  Wipro
0     1    4     12
1     2    5     34
2     3    6     45
3     4    7     56
4     5    8     67
5     6    9     78
6     7   10     89

In [ ]:
series2.index

RangeIndex(start=0, stop=7, step=1)

In [ ]:
series2.columns

Index(['INFY', 'TCS', 'Wipro'], dtype='object')

In [ ]:
series2.T

        0   1   2   3   4   5   6
INFY    1   2   3   4   5   6   7
TCS     4   5   6   7   8   9  10
Wipro  12  34  45  56  67  78  89

In [ ]:
#Dictionary of lists creating dataframe

st1 = {'INFY':[22,33,44,55,66,77], 'TCS':[22,33,44,55,66,77], 'Wipro': [22,33,44,55,66,77], 'HCL': [22,33,44,55,66,77], 'L&T': [22,33,44,55,66,77]}
st1

{'INFY': [22, 33, 44, 55, 66, 77],
 'TCS': [22, 33, 44, 55, 66, 77],
 'Wipro': [22, 33, 44, 55, 66, 77],
 'HCL': [22, 33, 44, 55, 66, 77],
 'L&T': [22, 33, 44, 55, 66, 77]}

In [ ]:
pd.DataFrame(st1)

   INFY  TCS  Wipro  HCL  L&T
0    22   22     22   22   22
1    33   33     33   33   33
2    44   44     44   44   44
3    55   55     55   55   55
4    66   66     66   66   66
5    77   77     77   77   77

In [ ]:
##Using structured array

df3= np.zeros((4,), dtype=[('Name','U25'),('Gender','U10'),('Present/Absent','U15')])
df3

array([('', '', ''), ('', '', ''), ('', '', ''), ('', '', '')],
      dtype=[('Name', '<U25'), ('Gender', '<U10'), ('Present/Absent', '<U15')])

In [ ]:
df3[:]= [('Ram','Male','Present'), ('Joseph','Male','Absent'),('Priya','Female','Absent'),('Swetha','Female','Present')]
df3

array([('Ram', 'Male', 'Present'), ('Joseph', 'Male', 'Absent'),
       ('Priya', 'Female', 'Absent'), ('Swetha', 'Female', 'Present')],
      dtype=[('Name', '<U25'), ('Gender', '<U10'), ('Present/Absent', '<U15')])

In [ ]:
df4=pd.DataFrame(df3)
df4

     Name  Gender Present/Absent
0     Ram    Male        Present
1  Joseph    Male         Absent
2   Priya  Female         Absent
3  Swetha  Female        Present

In [ ]:
#creating a data frame from a series
st1 = {'INFY':567.12,'TCS':345.34,'Wipro': 564.45, 'HCL':45.15,'L&T':678.00}
ser2 = pd.Series(st1, index = ['Wipro','TCS','HCL','L&T','INFY'])
ser2

Wipro    564.45
TCS      345.34
HCL       45.15
L&T      678.00
INFY     567.12
dtype: float64

In [ ]:
df6 = pd.DataFrame(ser2)
df6

            0
Wipro  564.45
TCS    345.34
HCL     45.15
L&T    678.00
INFY   567.12

In [ ]:
st1 = {'INFY':700.90,'TCS':600.99,'Wipro': 500.64, 'HCL':400.33,'L&T':678.00}
ser5 = pd.Series(st1, index = ['Wipro','TCS','HCL','L&T','INFY'])
ser5

Wipro    500.64
TCS      600.99
HCL      400.33
L&T      678.00
INFY     700.90
dtype: float64

In [ ]:
df6=pd.DataFrame(ser2+ser5)
df6

             0
Wipro  1065.09
TCS     946.33
HCL     445.48
L&T    1356.00
INFY   1268.02

In [ ]:
ser_fin = pd.concat([ser2,ser5], axis=1) #axis it concatenated rowwise
ser_fin

            0       1
Wipro  564.45  500.64
TCS    345.34  600.99
HCL     45.15  400.33
L&T    678.00  678.00
INFY   567.12  700.90

In [ ]:
df7=pd.DataFrame(ser_fin)
df7

            0       1
Wipro  564.45  500.64
TCS    345.34  600.99
HCL     45.15  400.33
L&T    678.00  678.00
INFY   567.12  700.90

In [ ]:
?pd.Series

In [ ]:
df7.columns

RangeIndex(start=0, stop=2, step=1)

In [ ]:
df7.columns = ['day1','day2']
df7

         day1    day2
Wipro  564.45  500.64
TCS    345.34  600.99
HCL     45.15  400.33
L&T    678.00  678.00
INFY   567.12  700.90

**DataFrame** Operations

In [ ]:
##operation on Dataframes

x1=df7['day1']   #only show column 1
x1

Wipro    564.45
TCS      345.34
HCL       45.15
L&T      678.00
INFY     567.12
Name: day1, dtype: float64

In [ ]:
type(x1)

pandas.core.series.Series

In [ ]:
df7[:2] #show indexes 0 and 1

         day1    day2
Wipro  564.45  500.64
TCS    345.34  600.99

In [ ]:
df7['day1']['TCS'] = 1966 #renaming the column value with respective index value TCS with 1966.0
df7

          day1    day2
Wipro   564.45  500.64
TCS    1966.00  600.99
HCL      45.15  400.33
L&T     678.00  678.00
INFY    567.12  700.90

In [ ]:
df7.insert(2,'day3',(500,400,300,200,100))
df7

          day1    day2  day3
Wipro   564.45  500.64   500
TCS    1966.00  600.99   400
HCL      45.15  400.33   300
L&T     678.00  678.00   200
INFY    567.12  700.90   100

Basic Indexing

In [ ]:
##Basic Indexing

oil_data = {'France' : {'2015-Q1': 100.1,'2015-Q2': 104.6, '2015-Q3': 400, '2025-Q4': 340},
            'Germany' : {'2015-Q1': 110.1,'2015-Q2': 156.6, '2015-Q3': 250, '2025-Q4': 270},                                                                             
            'Poland' : {'2015-Q1': 99.0,'2015-Q2': 103.6, '2015-Q3': 105.7, '2025-Q4': 450},
           }
oil_data

{'France': {'2015-Q1': 100.1,
  '2015-Q2': 104.6,
  '2015-Q3': 400,
  '2025-Q4': 340},
 'Germany': {'2015-Q1': 110.1,
  '2015-Q2': 156.6,
  '2015-Q3': 250,
  '2025-Q4': 270},
 'Poland': {'2015-Q1': 99.0,
  '2015-Q2': 103.6,
  '2015-Q3': 105.7,
  '2025-Q4': 450}}

In [ ]:
oil_df=pd.DataFrame.from_dict(oil_data)
oil_df

         France  Germany  Poland
2015-Q1   100.1    110.1    99.0
2015-Q2   104.6    156.6   103.6
2015-Q3   400.0    250.0   105.7
2025-Q4   340.0    270.0   450.0

In [ ]:
France_data = oil_df['France']
France_data

2015-Q1    100.1
2015-Q2    104.6
2015-Q3    400.0
2025-Q4    340.0
Name: France, dtype: float64

In [ ]:
#order of the coloumns in a different way

oil_df[['Poland','Germany','France']]

         Poland  Germany  France
2015-Q1    99.0    110.1   100.1
2015-Q2   103.6    156.6   104.6
2015-Q3   105.7    250.0   400.0
2025-Q4   450.0    270.0   340.0

In [ ]:
oil_df['France'] #oil_df_France

2015-Q1    100.1
2015-Q2    104.6
2015-Q3    400.0
2025-Q4    340.0
Name: France, dtype: float64

In [ ]:
oil_df[::-1]

         France  Germany  Poland
2025-Q4   340.0    270.0   450.0
2015-Q3   400.0    250.0   105.7
2015-Q2   104.6    156.6   103.6
2015-Q1   100.1    110.1    99.0

Label Oriented Indexing

In [ ]:
snow_data = {'Months': ['January','February','March','April','May','June'],
            'Avg low temp': [26,34,25,45,23,21],
            'Avg precip' : [17.8,12.3,11.7,34.0,12.3,11.5],
             'Avg snowdays' : [3.0,6.0,5.0,2.0,3.3,4.5]}

In [ ]:
snow_df = pd.DataFrame(snow_data, index = snow_data['Months'], columns = ['Avg low temp','Avg precip','Avg snowdays'])
snow_df

          Avg low temp  Avg precip  Avg snowdays
January             26        17.8           3.0
February            34        12.3           6.0
March               25        11.7           5.0
April               45        34.0           2.0
May                 23        12.3           3.3
June                21        11.5           4.5

In [ ]:
snow_df.loc[['January']]

         Avg low temp  Avg precip  Avg snowdays
January            26        17.8           3.0

In [ ]:
snow_df.loc[['January','June']]

         Avg low temp  Avg precip  Avg snowdays
January            26        17.8           3.0
June               21        11.5           4.5

In [ ]:
#Basic indexing syntax
snow_df.loc[:,'Avg low temp']

January     26
February    34
March       25
April       45
May         23
June        21
Name: Avg low temp, dtype: int64

In [ ]:
snow_df.loc['March','Avg low temp']

25

In [ ]:
snow_df.loc['March']['Avg low temp'] #the row will be first then the column

25.0

In [ ]:
snow_df['Avg low temp']['March'] #without .loc, the col will be first then the row

25

In [ ]:
oil_df

         France  Germany  Poland
2015-Q1   100.1    110.1    99.0
2015-Q2   104.6    156.6   103.6
2015-Q3   400.0    250.0   105.7
2025-Q4   340.0    270.0   450.0

In [ ]:
#Select all the rows where 2015-Q1>100. Get only those values

oil_df.where(oil_df[:1]>100)

         France  Germany  Poland
2015-Q1   100.1    110.1     NaN
2015-Q2     NaN      NaN     NaN
2015-Q3     NaN      NaN     NaN
2025-Q4     NaN      NaN     NaN

In [ ]:
oil_df.loc[:, oil_df.loc['2015-Q1'] > 100 ]     #getting relevant values

         France  Germany
2015-Q1   100.1    110.1
2015-Q2   104.6    156.6
2015-Q3   400.0    250.0
2025-Q4   340.0    270.0

In [ ]:
oil_df.loc['2015-Q1'][["France","Germany"]]

France     100.1
Germany    110.1
Name: 2015-Q1, dtype: float64

In [ ]:
oil_df.describe().transpose() #to find out the statistical methods of oil_df dataframe

         count     mean         std    min      25%     50%      75%    max
France     4.0  236.175  156.467939  100.1  103.475  222.30  355.000  400.0
Germany    4.0  196.675   75.985410  110.1  144.975  203.30  255.000  270.0
Poland     4.0  189.575  173.639212   99.0  102.450  104.65  191.775  450.0

In [ ]:
#Integer  -oriented indexing

z = {'x': [1,2,3,4,5], 'y':[11,12,13,14,15], 'z':[21,22,23,24,25]}
z

{'x': [1, 2, 3, 4, 5], 'y': [11, 12, 13, 14, 15], 'z': [21, 22, 23, 24, 25]}

In [ ]:
x1=pd.DataFrame(z, index = list(range(0,10,2)))
x1

   x   y   z
0  1  11  21
2  2  12  22
4  3  13  23
6  4  14  24
8  5  15  25

In [ ]:
x1.iloc[:4]

   x   y   z
0  1  11  21
2  2  12  22
4  3  13  23
6  4  14  24

In [ ]:
x1.iloc[2,0:2]

x     3
y    13
Name: 4, dtype: int64

In [ ]:
x1.iloc[2]

x     3
y    13
z    23
Name: 4, dtype: int64

In [ ]:
x1.loc[[4]]  #x1.loc[4]

   x   y   z
4  3  13  23

In [ ]:
x1.iat[3,0]

4

In [ ]:
%timeit x1.iloc[3,0]

29.5 s  1.98 s per loop (mean  std. dev. of 7 runs, 10000 loops each)

In [ ]:
%timeit x1.iat[3,0]

22.8 s  992 ns per loop (mean  std. dev. of 7 runs, 10000 loops each)

In [ ]:
pip install opendatasets

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting opendatasets
  Downloading opendatasets-0.1.22-py3-none-any.whl (15 kB)
Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (from opendatasets) (1.5.12)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from opendatasets) (7.1.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from opendatasets) (4.64.1)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (1.24.3)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (6.1.2)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (2.8.2)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (1.15.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (2.23.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (2022.9.24)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle->opendatasets) (1.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle->opendatasets) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle->opendatasets) (2.10)
Installing collected packages: opendatasets
Successfully installed opendatasets-0.1.22

In [ ]:
# Boolean Indexing
url='https://raw.githubusercontent.com/iftikaraliahmed/python/main/stock_index_prices.csv'
stock_prices=pd.read_csv(url)
stock_prices

   TradingDate PriceType   Nasdaq  S&P 500  Russell 2000
0   2014/02/21      open  4282.17  1841.07       1166.25
1   2014/02/21     close  4263.41  1836.25       1164.63
2   2014/02/21      high  4284.85  1846.13       1168.43
3   2014/02/24      open  4273.32  1836.78       1166.74
4   2014/02/24     close  4292.97  1847.61       1174.55
5   2014/02/24      high  4311.13  1858.71       1180.29
6   2014/02/25      open  4298.48  1847.66       1176.00
7   2014/02/25     close  4287.59  1845.12       1173.95
8   2014/02/25      high  4307.51  1852.91       1179.43
9   2014/02/26      open  4300.45  1845.79       1176.11
10  2014/02/26     close  4292.06  1845.16       1181.72
11  2014/02/26      high  4316.82  1852.65       1188.06
12  2014/02/27      open  4291.47  1844.90       1179.28
13  2014/02/27     close  4318.93  1854.29       1187.94
14  2014/02/27      high  4322.46  1854.53       1187.94
15  2014/02/28      open  4323.52  1855.12       1189.19
16  2014/02/28     close  4308.12  1859.45       1183.03
17  2014/02/28      high  4342.59  1867.92       1193.50

In [ ]:
stock_prices.loc[(stock_prices.Nasdaq>4300) & (stock_prices.PriceType == "close")]

   TradingDate PriceType   Nasdaq  S&P 500  Russell 2000
13  2014/02/27     close  4318.93  1854.29       1187.94
16  2014/02/28     close  4308.12  1859.45       1183.03

In [ ]:
#select rows where PriceType = "High" & "Nasdaq" < 4300

stock_prices.loc[(stock_prices.Nasdaq<4300) & (stock_prices.PriceType == "high")]

  TradingDate PriceType   Nasdaq  S&P 500  Russell 2000
2  2014/02/21      high  4284.85  1846.13       1168.43

In [ ]:
#isin & any,all #where #mask